<!-- Template -->
<template>
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
        v-bind:class="{'toggled' : isToggled}"
        >

        <!-- Sidebar - Brand -->
        <router-link class="sidebar-brand d-flex align-items-center justify-content-center" :to="{ name: 'read', params: {} }">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Fixit Admin</div>
        </router-link>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" v-bind:class="{active: sidebar.landing}">
          <router-link class="nav-link" :to="{ name: 'landingIndex', params: {} }">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>จัดการหน้าแรก</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.advertise}">
          <router-link class="nav-link" :to="{ name: 'advertiseIndex', params: {} }" active-class="active">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>ข่าวประชาสัมพันธ์</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.activities}">
          <router-link class="nav-link" :to="{ name: 'activitiesIndex', params: {} }">
            <i class="fas fa-fw fa-image"></i>
            <span>ภาพกิจกรรม</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.information}">
          <router-link class="nav-link" :to="{ name: 'informationIndex', params: {} }">
            <i class="fas fa-fw fa-server"></i>
            <span>บริการข้อมูล</span>
          </router-link>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidbar Toggle -->
        <div class="text-center d-none d-md-inline">
          <button class="btn btn-circle btn-light border-0" @click="clickToggle">
            <!-- <i class="fas fa-chevron-left"></i> -->
            <i v-bind:class="[isToggled ? 'fas fa-chevron-right' : 'fas fa-chevron-left']"></i>
          </button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" @click="clickToggle">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            </form>
              <div class="topbar-divider d-none d-sm-block"></div>
              <homepage-menu-component
                :name="userName"
                :avatar="userAvatar"
                :id="userId"
              >
              </homepage-menu-component>

            </ul>

          </nav>
          <!-- End of Topbar -->
          <router-view></router-view>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; 2019 fixitcenterchainat.com </span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</template>

<script>
import HomepageMenuComponent from '@Vue/directives/HomepageMenuComponent.vue'

export default {

  mounted() {
    axios.post('/api/auth/login', {
      userId: this.userId
    }).then(response => {
      localStorage.setItem('token', response.data.access_token)
    }).catch(error => {
      console.log(error);
    })

    let name = this.$router.currentRoute.name;

    for (var key in this.sidebar)
      if(name.match(key)) this.sidebar[key] = true
  },

  watch: {
    '$route' (to, from) {
      let name = this.$router.currentRoute.name;

      for (var key in this.sidebar)
        if(name.match(key)) this.sidebar[key] = true
        else this.sidebar[key] = false
    }
  },

  props: {
    userId: {
      type: Number,
      required: true
    },
    userName: {
      type: String,
      required: true
    },
    userAvatar: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      isToggled: false,
      sidebar: {
        advertise: false,
        activities: false,
        landing: false,
        information: false,
      }
    };
  },
  methods: {
    logout() {
      axios.post("/logout").then(() => {
        window.location = "/";
      });
    },

    clickToggle() {
      this.isToggled = !this.isToggled;
    }
  },

  components: {
    HomepageMenuComponent
  }
};
</script>
