@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css';

@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';

@import '~vue-flash-message/dist/vue-flash-message.min.css';

@import '~vue-suggestion/dist/vue-suggestion.css';

.text-xs {
  font-size: 0.8rem !important;
}

.vue-suggestion {
  .vue-suggestion-input-group .vue-suggestion-input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #464a4c;
    outline: none;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #cecece;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    &:focus {
      border: 1px solid #023d7b;
    }
  }
  .vue-suggestion-list {
    width: 100%;
    text-align: left;
    border: none;
    border-top: none;
    max-height: 400px;
    overflow-y: auto;
    border-bottom: 1px solid #023d7b;
    .vue-suggestion-list-item {
      cursor: pointer;
      background-color: #fff;
      padding: 10px;
      border-left: 10px solid #023d7b;
      border-right: 1px solid #023d7b;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: #eee;
      }
      cursor: pointer;
      &.vue-suggestion-item-active {
        background-color: #f3f6fa;
      }
    }
    position: absolute;
    z-index: 10;
  }
  position: relative;
}

.vue-tags-input {
  width: 100%;
  max-width: 100% !important;
}
