<template>
  <div class="container-fluid">
    <flash-message></flash-message>

    <b-breadcrumb :items="breadcrumbs"/>

    <post-create-component
      urlPost="/api/posts"
      postType="advertise"
      urlBack="advertiseIndex"
      >
    </post-create-component>
  </div>
</template>

<script>
  import PostCreateComponent from '@Vue/directives/PostCreateComponent.vue';
  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'ข่าวประชาสัมพันธ์',
            to: {name: 'advertiseIndex'}
          },
          {
            text: 'Create',
            adtive: true
          }
        ]
      }
    },

    components: {
      PostCreateComponent
    }
  };
</script>
