<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">ข่าวประชาสัมพันธ์</li>
      </ol>
    </nav>

    <div class="row">
      <div class="col-xl-6 col-6">
        <router-link :to="{ name: 'advertiseCreate', params: {} }"
          class="btn btn-primary btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-plus"></i>
          </span>
          <span class="text">Create</span>
        </router-link>
      </div>
      <div class="col-xl-3 offset-xl-3 col-6">
        <search-component
          :url="apiurl"
          postType="advertise"
          @get-url="getSearch"
          v-model="searchData">
        </search-component>
      </div>
    </div>

    <div class="row mt-3">
      <div v-for="advertise in advertises" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2" >
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkUpdate(advertise.id)"
                data-toggle="tooltip" data-placement="right" title="Click to Update"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ advertise.title }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  id: {{ advertise.id}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  created_at: {{ advertise.created_at }}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  updated_at: {{ advertise.updated_at }}
                </div>
              </div>
              <div class="col-auto">
                <div class="dropdown">
                  <button
                    class="btn btn-danger btn-circle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" @click="deleteAdvertise(advertise.id)">Delete</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="dataPaginate"
      @pagination-change-page="getResults"
      :align="align"
      >
    </pagination>

  </div>
</template>

<script>
  var moment = require('moment');
  import SearchComponent from '@Vue/directives/SearchComponent.vue';

  export default {
    mounted() {
      this.AdvertisePosts();
    },

    data() {
      return {
        advertises: {},
        dataPaginate: {},
        align: "center",
        apiurl: "/api/posts/",
        searchData: {},
      };
    },

    methods: {
      linkUpdate(advertiseId) {
        this.$router.push({name: 'advertiseUpdate', params: {postId: advertiseId}});
      },

      AdvertisePosts(address) {
        axios.get(address ? address : "/api/posts?type=advertise").then(response => {
          this.advertises = response.data.data;
          this.dataPaginate = response.data;
        });
      },

      getResults(page = 1) {
        let search = this.searchData.search;
        let startDate = this.searchData.startDate;
        let endDate = this.searchData.endDate;

        let url = '/api/advertises?type=advertise&search=' +
          search +
          '&startDate=' +
          startDate +
          '&endDate=' +
          endDate +
          '&page=' + page;

        this.AdvertisePosts(url)
      },

      deleteAdvertise(id) {
        axios.delete(
          "/api/posts/" + id,
          {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }
        ).then(response => this.getResults(this.dataPaginate.links.current_page))
      },

      getSearch(url) {
        axios.get(url).then(response => {
          this.advertises = response.data.data;
          this.dataPaginate = response.data;
        });
      },
    },

    components: {
      SearchComponent
    }

};
</script>
