<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>


    <div class="card border-left-info shadow h-100 py-2 pb-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ part.name}}
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              จำนวน: {{ part.balance }} ชิ้น
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              หมวดหมู่: {{ part.category}}
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              ราคา : {{ part.price }} บาท
            </div>
          </div>
        </div>
      </div>
    </div>

    <b-form>
      <b-form-group :label="label.cost">
        <b-form-input
          type="number"
          v-model="cost"
          required
        >
        </b-form-input>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Add</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    props: {
      dept_id: {
        type: Number,
        required: true
      },

      part_id: {
        type: Number,
        required: true
      },
    },

    data() {
      return {
        messages: [],
        breadcrumbs: [],

        label: {
          cost: 'เพิ่ม ลด อะไหล่ (ถ้าลด ให้ใส่ลบนำหน้าตัวเลข)',
        },

        cost: 0,
        part: {},
        department: {}
      }
    },

    mounted() {
      this.getPart()
      this.getBreadcrumbs()
    },

    methods: {
      create() {
        const formData = new FormData()
        formData.append('cost', this.cost)
        formData.append('part_id', this.part_id)
        formData.append('user_id', localStorage.getItem('userId'))
        this.messages = []

        axios
          .post(
            '/api/inventories',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.clearForm()
            this.messages.push({msg: 'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.dept_id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , to: {name: 'partIndex', params: {id: this.dept_id}}})
          this.breadcrumbs.push( { text: 'เพิ่ม ลด อะไหล่' , active: true})
        })
      },

      getPart() {
        axios.get('/api/spare_parts/' + this.part_id).then(response => {
          this.part = response.data.data
        })
      },

      clearForm() {
        this.cost = 0
        this.getPart()
      }

    }
  }
</script>
