<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group :label="label.name">
        <b-form-input
          type="text"
          v-model="part.name"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.price">
        <b-form-input
          type="number"
          v-model="part.price"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.category">
        <b-form-select v-model="part.category" :options="options.categories"></b-form-select>
      </b-form-group>

      <b-form-group :label="label.new_category">
        <b-form-input
          type="text"
          v-model="part.new_category"
        >
        </b-form-input>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      },
    },

    data() {
      return {
        messages: [],
        breadcrumbs: [],

        options: {
          categories: []
        },

        label: {
          name: 'ชื่อ',
          category: 'หมวดหมู่',
          price: 'ราคา',
          new_category: 'หมวดหมู่ใหม่'
        },

        url: {categories: '/api/spare_parts/categories/'},

        part: {
          category: '',
          price: 0,
          new_category: '',
        },

        department: {}

      }
    },

    mounted() {
      this.getCategories()
      this.getBreadcrumbs()
      this.part['department_id'] = this.id
    },

    methods: {
      create() {
        const formData = new FormData()
        let part = this.part

        Object.keys(part).forEach((key) => { formData.append(key, part[key]) })

        if (this.part.category == '') formData.set('category', this.part.new_category)
        formData.delete('new_category')

        this.messages = []

        axios
          .post(
            '/api/spare_parts',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.clearForm()
            this.getCategories()
            this.messages.push({msg: 'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , to: {name: 'partIndex', params: {id: this.id}}})
          this.breadcrumbs.push( { text: 'สร้าง' , active: true})
        })
      },

      getCategories() {
        let url = this.url.categories + this.id
        this.options.categories = [{value: '', text: 'เลือกหมวดหมู่'}]

        axios.get(url).then(response => {
          response.data.categories.map(a => {
            this.options.categories.push(
              { value: a.category, text: a.category}
            )
          })
        })
      },

      clearForm() {
        let part = this.part
        Object.keys(part).forEach(function (key) {
          part[key] = ''
        })

        this.part.price = 0
        this.part.department_id = this.id
      }

    }
  }
</script>
