<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group :label="label.name">
        <b-form-input
          type="text"
          v-model="part.name"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.price">
        <b-form-input
          type="number"
          v-model="part.price"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.category">
        <b-form-select v-model="part.category" :options="options.categories"></b-form-select>
      </b-form-group>

      <b-form-group :label="label.new_category">
        <b-form-input
          type="text"
          v-model="part.new_category"
        >
        </b-form-input>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    props: {
      dept_id: {
        type: Number,
        required: true
      },
      part_id: {
        type: Number,
        required: true
      },
    },

    data() {
      return {
        messages: [],
        breadcrumbs: [],

        options: {
          categories: []
        },

        label: {
          name: 'ชื่อ',
          category: 'หมวดหมู่',
          price: 'ราคา',
          new_category: 'หมวดหมู่ใหม่'
        },

        url: {categories: '/api/spare_parts/categories/'},

        part: {
          category: '',
          price: 0,
          new_category: '',
        },

        department: {}

      }
    },

    mounted() {
      this.getCategories()
      this.getBreadcrumbs()
      this.getPart()
    },

    methods: {
      update() {
        const formData = new FormData()
        let part = this.part
        const data = {}
        data['name'] = this.part.name
        data['price'] = this.part.price
        data['category'] = this.part.category
        if (this.part.category == '') data['category'] = this.part.new_category

        this.messages = []
        axios
          .put(
            '/api/spare_parts/' + this.part.id,
            data,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.getCategories()
            this.messages.push({msg: 'Update Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.dept_id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , to: {name: 'partIndex', params: {id: this.dept_id}}})
          this.breadcrumbs.push( { text: 'แก้ไข' , active: true})
        })
      },

      getCategories() {
        let url = this.url.categories + this.id
        this.options.categories = [{value: '', text: 'เลือกหมวดหมู่'}]

        axios.get(url).then(response => {
          response.data.categories.map(a => {
            this.options.categories.push(
              { value: a.category, text: a.category}
            )
          })
        })
      },

      getPart() {
        let url = '/api/spare_parts/' + this.part_id
        axios.get(url).then(response => {
          this.part = response.data.data
        })
      },

    }
  }
</script>
