<template>
  <div class="container-fluid">
    <b-breadcrumb :items="breadcrumbs" />

    <div class="card border-left-info shadow h-100 py-2 pb-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ part.name}}
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              จำนวน: {{ part.balance }} ชิ้น
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              หมวดหมู่: {{ part.category}}
            </div>
            <div class="text-xs mb-1 font-weight-bold text-gray-800">
              ราคา : {{ part.price }} บาท
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-responsive-sm table-dark">
      <thead>
        <tr>
          <th scope="col" v-for="text in label">{{ text }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="inventory in inventories">
          <td>{{ inventory.created_at}}</td>
          <td>{{ inventory.cost}}</td>
          <td>{{ inventory.balance}}</td>
          <td>{{ inventory.performer}}</td>
        </tr>
      </tbody>

    </table>

    <pagination
      :data="paginate.data"
      @pagination-change-page="getResults"
      align="center"
      :limit="paginate.pageLimit"
    >
    </pagination>
  </div>
</template>

<script>
  export default {
    props: {
      dept_id: {
        type: Number,
        required: true
      },

      part_id: {
        type: Number,
        required: true
      },
    },

    data() {
      return {
        label: {
          date: 'วันที่',
          cost: 'เพิ่ม ลด',
          balance: 'คงเหลือ',
          performer: 'ทำโดย'
        },

        inventories: {},
        breadcrumbs: [],
        department: {},
        part: {},

        paginate: {
          data: {},
          pageLimit: 5,
        },
      }
    },

    mounted() {
      this.getInventories()
      this.getPart()
      this.getBreadcrumbs()
    },

    methods: {
      getInventories(address) {
        let url = address ? address : '/api/inventories/part/' + this.part_id

        axios.get(url).then(response => {
          this.inventories = response.data.data
          this.paginate.data = response.data
        })
      },

      getResults(page = 1) {
        let url = '/api/inventories/part/' + this.part_id + '?page=' + page
        this.getInventories(url)
      },

      getPart() {
        axios.get('/api/spare_parts/' + this.part_id).then(response => {
          this.part = response.data.data
        })
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.dept_id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , to: {name: 'partIndex', params: {id: this.dept_id}}})
          this.breadcrumbs.push( { text: 'ประวัติ' , active: true})
        })
      },
    }
  }
</script>
