<template>
  <div class="container-fluid">
    <b-breadcrumb :items="breadcrumbs" />

    <div class="clearfix">
      <router-link
        :to="{ name: 'partCreate', params: {id: id} }"
        class="btn btn-primary btn-icon-split float-left"
      >
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create</span>
      </router-link>

      <router-link
        :to="{ name: 'partUpload', params: {id: id} }"
        class="btn btn-success btn-icon-split float-left pl-2"
      >
        <span class="icon text-white-50">
          <i class="fas fa-upload"></i>
        </span>
        <span class="text">Upload</span>
      </router-link>

      <form class="float-right">
        <div class="form-row">
          <div class="col">
            <b-form-select
              v-model="filter.category"
              :options="options.categories"
              @change="getFilter"
            >
            </b-form-select>
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div v-for="part in parts" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ part.name}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  จำนวน: {{ part.balance }} {{ part.unit}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  หมวดหมู่: {{ part.category}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ราคา : {{ part.price }} บาท
                </div>
              </div>
              <div class="col-auto">
                <div class="dropdown">
                  <button
                    class="btn btn-success btn-circle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-caret-down"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <router-link class="dropdown-item" :to="{ name: 'partAdd', params: {dept_id: id, part_id: part.id} }">
                      เพิ่ม / ลด อะไหล่
                    </router-link>
                    <router-link class="dropdown-item" :to="{ name: 'partHistory', params: {dept_id: id, part_id: part.id} }">
                      ประวัติ
                    </router-link>
                    <router-link class="dropdown-item" :to="{ name: 'partEdit', params: {dept_id: id, part_id: part.id} }">
                      แก้ไข
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="paginate.data"
      @pagination-change-page="getResults"
      align="center"
      :limit="paginate.pageLimit"
    >
    </pagination>

  </div>

</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    mounted() {
      this.getParts()
      this.getCategories()
      this.getBreadcrumbs()
    },

    data() {
      return {
        parts: {},
        department: {},

        paginate: {
          data: {},
          pageLimit: 5,
        },

        options: {
          categories: [
            {value: '', text: 'หมวดหมู่'}
          ]
        },

        url: {
          parts: '/api/spare_parts/department/',
          categories: '/api/spare_parts/categories/'
        },

        breadcrumbs: [],

        filter: {
          category: ''
        }
      }
    },

    methods: {
      getParts(address) {
        let url = address ? address : this.url.parts + this.id

        axios.get(url).then(response => {
          this.parts = response.data.data
          this.paginate.data = response.data
        })
      },

      getCategories() {
        let url = this.url.categories + this.id

        axios.get(url).then(response => {
          response.data.categories.map(a => {
            this.options.categories.push(
              { value: a.category, text: a.category}
            )
          })
        })
      },

      getFilter() {
        let url = this.getUrl()
        this.getParts(url)
      },

      getUrl(page = 1) {
        const category = this.filter.category

        let url = this.url.parts +
                  this.id +
                  '?page=' + page +
                  '&category=' + category

        return url
      },

      getResults(page = 1) {
        let url = this.getUrl(page)
        this.getParts(url)
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , active: true})
        })
      },
    }
  }

</script>
