<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-file
        v-model="file"
        placeholder="เลือกไฟล์ อะไหล่"
        accept=".xlsx"
      ></b-form-file>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="upload" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Upload</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      },
    },

    data() {
      return {
        messages: [],
        breadcrumbs: [],
        department: {},
        file: null,
      }
    },

    mounted() {
      this.getBreadcrumbs()
    },

    methods: {
      upload() {
        // console.log('before check upload');
        // if (_.isEmpty(this.file.files[0])) return;
        // console.log('after check upload');

        const formData = new FormData()
        formData.append("file", this.file)
        formData.append("department_id", this.id)

        this.messages = []

        axios
          .post(
            '/api/inventories/upload',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.clearForm()
            this.messages.push({msg: 'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      getBreadcrumbs() {
        this.breadcrumbs = []

        axios.get('/api/departments/' + this.id).then(response => {
          this.department = response.data.data
          this.breadcrumbs.push( { text: 'อะไหล่', to: {name: 'inventoriesIndex'}})
          this.breadcrumbs.push( { text: this.department.name , to: {name: 'partIndex', params: {id: this.id}}})
          this.breadcrumbs.push( { text: 'อัพโหลด' , active: true})
        })
      },

      clearForm() {
        this.file = null
      }

    }
  }
</script>
