<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group
        id="centerInputGroup1"
        label="ชื่อศูนย์"
        label-for="nameInput"
      >
        <b-form-input
          id="nameInput"
          type="text"
          v-model="center.name"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="centerInputGroup2"
        label="อำเภอ"
        label-for="amphoeInput"
      >
        <b-form-input
          id="amphoeInput"
          type="text"
          v-model="center.amphoe"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="centerInputGroup3"
        label="จังหวัด"
        label-for="provinceInput"
      >
        <b-form-input
          id="provinceInput"
          type="text"
          v-model="center.province"
          required
        >
        </b-form-input>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
            <router-link :to="{ name: 'centerIndex', params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'ศูนย์ซ่อมสร้าง',
            to: {name: 'centerIndex'}
          },
          {
            text: 'Create',
            active: true
          }
        ],

        center: {
          name: '',
          amphoe: '',
          province: 'ชัยนาท'
        },

        messages: [],
      }
    },

    methods: {
      create() {
        const formData = new FormData();
        formData.append("name", this.center.name);
        formData.append("amphoe", this.center.amphoe);
        formData.append("province", this.center.province);

        this.messages = [];

        axios
          .post(
            '/api/centers',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              },
            }
          )
          .then(response => {
            this.center.name = ''
            this.center.amphoe = ''
            this.center.province = ''
            this.messages.push({msg:'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      }
    }
  }

</script>
