<template>
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
        v-bind:class="{'toggled' : isToggled}"
        >

        <!-- Sidebar - Brand -->
        <router-link class="sidebar-brand d-flex align-items-center justify-content-center" :to="{ name: 'centerIndex', params: {} }">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Fixit Center</div>
        </router-link>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item" v-bind:class="{active: sidebar.center}">
          <router-link class="nav-link" :to="{ name: 'centerIndex', params: {} }">
            <i class="fas fa-fw fa-home"></i>
            <span>ศูนย์ซ่อมสร้าง</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.build}">
          <router-link class="nav-link" :to="{ name: 'buildIndex', params: {} }">
            <i class="fas fa-fw fa-chalkboard-teacher"></i>
            <span>บริการสร้าง Build</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.citizen}">
          <router-link class="nav-link" :to="{ name: 'citizenIndex', params: {} }">
            <i class="fas fa-fw fa-users"></i>
            <span>จัดการข้อมูลประชาชน</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: sidebar.search}">
          <router-link class="nav-link" :to="{ name: 'repairSearch', params: {} }">
            <i class="fas fa-fw fa-search"></i>
            <span>ค้นหาของซ่อม</span>
          </router-link>
        </li>

        <li class="nav-item" v-bind:class="{active: centerMain}">
          <a class="nav-link collapsed" href='#' data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-store"></i>
            <span>ศูนย์ถาวร</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style>
            <div class="bg-white py-2 collapse-inner rounded">
              <router-link class="collapse-item" v-bind:class="{active: sidebar.mainCreate}" :to="{ name: 'repairCreate', params: {id: main.id} }">
                <i class="fas fa-fw fa-clipboard-list"></i>
                <span>ลงทะเบียนของซ่อม</span>
              </router-link>
              <router-link class="collapse-item" v-bind:class="{active: sidebar.mainWaitRepair}" :to="{ name: 'repairWaitRepair', params: {id: main.id} }">
                <i class="fas fa-fw fa-wrench"></i>
                <span>รอซ่อม</span>
              </router-link>
              <router-link class="collapse-item" v-bind:class="{active: sidebar.mainWaitSendback}" :to="{ name: 'repairWaitSendback', params: {id: main.id} }">
                <i class="fas fa-fw fa-share-square"></i>
                <span>รอคืน</span>
              </router-link>
              <router-link class="collapse-item" v-bind:class="{active: sidebar.mainFinished}" :to="{ name: 'repairFinished', params: {id: main.id} }">
                <i class="fas fa-fw fa-check-circle"></i>
                <span>เสร็จสิ้น</span>
              </router-link>
            </div>
          </div>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
        <!-- Sidbar Toggle -->
        <div class="text-center d-none d-md-inline">
          <button class="btn btn-circle btn-light border-0" @click="clickToggle">
            <!-- <i class="fas fa-chevron-left"></i> -->
            <i v-bind:class="[isToggled ? 'fas fa-chevron-right' : 'fas fa-chevron-left']"></i>
          </button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" @click="clickToggle">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            </form>

              <div class="topbar-divider d-none d-sm-block"></div>
              <homepage-menu-component
                :name="userName"
                :avatar="userAvatar"
                :id="userId"
              >
              </homepage-menu-component>

            </ul>

          </nav>
          <!-- End of Topbar -->
          <router-view></router-view>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Fixitcenterchainat 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
</template>

<script>
  import HomepageMenuComponent from '@Vue/directives/HomepageMenuComponent.vue'

  export default {
    props: {
      userId: {
        type: Number,
        required: true
      },
      userName: {
        type: String,
        required: true
      },
      userAvatar: {
        type: String,
        required: true
      }
    },

    watch: {
      '$route' (to, from) {
        let name = this.$router.currentRoute.name
        let path = this.$router.currentRoute.path

        for (var key in this.sidebar)
          if(name.match(key)) this.sidebar[key] = true
          else this.sidebar[key] = false

        if (path == '/center/search') this.sidebar.search = true

        if (path == '/center/1/repair/create') {
          this.sidebar.main = true
          this.sidebar.mainCreate = true
        }

        if (path == '/center/1/repair/wait_repair') {
          this.sidebar.main = true
          this.sidebar.mainWaitRepair = true
        }

        if (path == '/center/1/repair/wait_sendback') {
          this.sidebar.main = true
          this.sidebar.mainWaitSendback = true
        }

        if (path == '/center/1/repair/finished') {
          this.sidebar.main = true
          this.sidebar.mainFinished = true
        }
      }
    },

    computed: {
      centerMain() {
        if (this.sidebar.main) return true
        return false
      }
    },

    mounted() {
      axios.post('/api/auth/login', {
        userId: this.userId
      }).then(response => {
        localStorage.setItem('token', response.data.access_token)
      }).catch(error => {
        alert("กรุณาเปิดปิดใหม่")
        console.log(error);
      })

      let name = this.$router.currentRoute.name;

      for (var key in this.sidebar)
        if(name.match(key)) this.sidebar[key] = true
    },

    data() {
      return {
        isToggled: false,
        sidebar: {
          center: false,
          citizen: false,
          build: false,
          main: false,
          mainCreate: false,
          mainWaitRepair: false,
          mainWaitSendback: false,
          mainFinished: false,
          search: false,
        },
        main: {
          id: 1
        }
      }
    },

    methods: {
      clickToggle() {
        this.isToggled = !this.isToggled;
      }
    },

    components: {
      HomepageMenuComponent
    }
  }
</script>
