<template>
  <div class="container-fluid">

    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">ศูนย์ซ่อมสร้าง</li>
      </ol>
    </nav>

    <div class="clearfix">
      <router-link
        :to="{ name: 'centerCreate', params: {} }"
        class="btn btn-primary btn-icon-split float-left"
      >
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create</span>
      </router-link>

      <form class="float-right form-inline" @submit.prevent="getSearch">
        <div class="input-group">
            <input type="text" class="form-control" size="40" ref="search" name="search" placeholder="ค้นหาศูนย์"/>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div v-for="center in centers" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkUpdate(center.id)"
                data-toggle="tooltip" data-placement="right" title="Click to Update"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ center.name }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  อำเภอ: {{ center.amphoe}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  จังหวัด: {{ center.province }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  created_at: {{ center.created_at}}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  updated_at: {{ center.updated_at}}
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="dataPaginate"
      @pagination-change-page="getResults"
      align="center"
      :limit="pageLimit"
      >
    </pagination>
  </div>

</template>

<script>
  export default {
    mounted() {
      this.getCenters();
    },

    data() {
      return {
        centers: {},
        dataPaginate: {},
        pageLimit: 5,
      }
    },

    methods: {
      getCenters(address) {
        let url = address ? address : "/api/centers"

        axios.get(url).then(response => {
          this.centers = response.data.data;
          this.dataPaginate = response.data;
        })
      },

      deleteCenter(id) {
        axios.delete(
          "/api/centers/" + id,
          {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }
        )
        .then(response => this.getCenters(this.dataPaginate.links.current_page))
      },

      repairCreate(id) {
        this.$router.push({name: 'repairCreate', params: {id: id}})
      },

      repairIndex(id) {
        this.$router.push({name: 'repairIndex', params: {id: id}})
      },

      getResults(page = 1) {
        let search = this.$refs.search.value;
        let url = '/api/centers?search=' + search + '&page=' + page;

        this.getCenters(url);
      },

      getSearch() {
        let search = this.$refs.search.value;
        let url = '/api/centers?search=' + search;

        this.getCenters(url);
      },

      linkUpdate(id) {
        this.$router.push({name: 'centerUpdate', params: {id: id}})
      }
    }
  }
</script>
