<template>
  <div class="container-fluid">
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">ค้นหาของซ่อม</li>
      </ol>
    </nav>

    <form @submit.prevent="getSearch">
      <div class="form-group">
        <label>ค้นหาเลขที่ใบซ่อม</label>
        <b-form-input type="number" v-model="search.id"></b-form-input>
      </div>
      <button type="submit" class="btn btn-primary">ค้นหา</button>
    </form>

    <b-alert :show="search.fail" variant="danger">ไม่มีหมายเลขลงทะเบียนนี้</b-alert>

  </div>
</template>

<script>
  export default {
    data() {
      return {
        search: {
          id: 0,
          fail: false
        },
        repair: {}
      }
    },

    methods: {
      getSearch() {
        const url = '/api/repairs/' + this.search.id
        this.search.fail = false

        axios.get(url).then(response => {
          this.repair = response.data.data
          this.$router.push({name: 'itemShow', params: {id: this.repair.item.id}})
        })
        .catch(error => {
          if (!_.isEmpty(error.response)) {
            if ((error.response.status = 404)) {
              this.search.fail = true
            }
          }
        })
      },
    }
  }

</script>
