<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <div class="clearfix pb-3">
      <router-link
        :to="{ name: 'repairCreate', params: {id: id} }"
        class="btn btn-primary btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-clipboard-list"></i>
        </span>
        <span class="text">ลงทะเบียนของซ่อม</span>
      </router-link>
      <router-link
        :to="{ name: 'repairWaitRepair', params: {id: id} }"
        class="btn btn-warning btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-wrench"></i>
        </span>
        <span class="text">รอซ่อม</span>
      </router-link>
      <router-link
        :to="{ name: 'repairWaitSendback', params: {id: id} }"
        class="btn btn-info btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-share-square"></i>
        </span>
        <span class="text">รอคืน</span>
      </router-link>
      <router-link
        :to="{ name: 'repairFinished', params: {id: id} }"
        class="btn btn-success btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-check-circle"></i>
        </span>
        <span class="text">เสร็จสิ้น</span>
      </router-link>
      <router-link
        :to="{ name: 'reportIndex', params: {id: id} }"
        class="btn btn-dark btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-clipboard-list"></i>
        </span>
        <span class="text">รายงาน</span>
      </router-link>
    </div>

    <b-form>
      <b-form-group
        id="centerInputGroup1"
        label="ชื่อศูนย์"
        label-for="nameInput"
      >
        <b-form-input
          id="nameInput"
          type="text"
          v-model="center.name"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="centerInputGroup2"
        label="อำเภอ"
        label-for="amphoeInput"
      >
        <b-form-input
          id="amphoeInput"
          type="text"
          v-model="center.amphoe"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        id="centerInputGroup3"
        label="จังหวัด"
        label-for="provinceInput"
      >
        <b-form-input
          id="provinceInput"
          type="text"
          v-model="center.province"
          required
        >
        </b-form-input>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
            <router-link :to="{ name: 'centerIndex', params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    mounted() {
      this.getCenter();
    },

    props: {
      id: {
        type: Number,
        required: true
      }
    },

    data() {
      return {
        breadcrumbs: [
          {
            text: 'ศูนย์ซ่อมสร้าง',
            to: {name: 'centerIndex'}
          },
        ],

        center: {},

        messages: [],
      }
    },

    methods: {
      getCenter() {
        axios.get('/api/centers/' + this.id).then(response => {
          this.center = response.data.data;
          this.breadcrumbs.push({
            text: this.center.name,
            active: true
          })
        })
      },

      update() {
        let name = this.center.name;
        let amphoe = this.center.amphoe;
        let province = this.center.province;

        this.messages = [];

        axios
          .put(
            '/api/centers/' + this.id,
            { name, amphoe, province },
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              },
            }
          )
          .then(response => {
            this.messages.push({msg:'Update Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      }
    }
  }

</script>
