<template>
<div class="container-fluid">
  <post-index-component
    postType="activities"
    postHeader="ภาพกิจกรรม"
    urlCreate="activitiesCreate"
    urlUpdate="activitiesUpdate"
  ></post-index-component>
</div>
</template>

<script>
  import PostIndexComponent from '@Vue/directives/PostIndexComponent.vue'

  export default {
    components: {
      PostIndexComponent
    }
  }
</script>
