<template>
  <div class="container-fluid">

    <flash-message></flash-message>

    <b-breadcrumb :items="breadcrumbs"/>

    <post-update-component
      urlPost='/api/posts/'
      :postId="postId"
      postType="activities"
      urlBack='activitiesIndex'
      ></post-update-component>
  </div>
</template>

<script>
  import PostUpdateComponent from '@Vue/directives/PostUpdateComponent.vue';

  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'ภาพกิจกรรม',
            to: {name: 'activitiesIndex'}
          },
          {
            text: 'Update',
            adtive: true
          }
        ]
      }
    },

    props: {
      postId: {
        type: Number,
        required: true
      }
    },

    components: {
      PostUpdateComponent
    }
  }

</script>
