<template>
  <div class="container-fluid">

    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <form>
      <div class="from-group">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2" >
                <div class="h5 font-weight-bold text-primary mb-1">
                  ชื่อศูนย์ {{ center.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>ค้นหาผู้รับบริการ</label>
        <AutocompleteComponent
          placeholder="ค้นหาจาก ชื่อ นามสกุล บัตรประชาชน เบอร์โทรศัพท์"
          url="/api/citizen_search?search="
          :itemTemplate="citizenTemplate"
          :initItem.sync="autocomplete.citizen"
          keylabel="fullname"
          v-model="citizenAutocomplete"
          :clear.sync="isClear"
        >
        </AutocompleteComponent>
      </div>

      <div class="form-group" v-if="selectedCitizen">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2" >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ citizenAutocomplete.title }} {{ citizenAutocomplete.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ที่อยู่: {{ citizenAutocomplete.address}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เลขบัตร: {{ citizenAutocomplete.numberFormat}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  tel: {{ citizenAutocomplete.phoneFormat }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label>สิ่งของที่นำมาซ่อม</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.name"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div> -->

      <div class="form-group">
        <label>สิ่งของที่นำมาซ่อม</label>
        <select class="form-control" v-model="repair.item.item_type">
          <option v-for="type in item_types" v-bind:value="type.value">
            {{ type.text }}
          </option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label>ประเภทเครื่องใช้ที่ซ่อม</label>
        <select class="form-control" v-model="repair.item.type">
          <option v-for="type in item.types" v-bind:value="type.value">
            {{ type.text }}
          </option>
        </select>
        <input type="text" class="form-control" v-model="repair.item.other_type" v-if="repair.item.type == 'other'" placeholder="เครื่องใช้อื่นๆ กรุณากรอกข้อมูล"/>
      </div> -->

      <div class="form-group">
        <label>อาการเสีย</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.problem"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div>

      <!-- <div class="form-group">
        <label>สภาพสินค้า</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.status"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div> -->

      <!-- <div class="form-group">
        <label>อุปกรณ์ที่ติดมาด้วย</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.attach"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div> -->

      <div class="form-group">
        <label>รายละเอียด</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.description"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div>

      <div class="form-group">
        <label>ค้นหาผู้รับลงทะเบียน</label>
        <AutocompleteComponent
          placeholder="ค้นหาจาก ชื่อ นามสกุล บัตรประชาชน"
          url="/api/officer_search?search="
          :itemTemplate="officerTemplate"
          keylabel="fullname"
          v-model="officerAutocomplete"
          :clear.sync="isClear"
        >
        </AutocompleteComponent>
      </div>

      <div class="form-group" v-if="selectedOfficer">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2" >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ officerAutocomplete.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  สาขา: {{ officerAutocomplete.department.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>รูปภาพของซ่อม</label>
        <uploadfile-component
          accept="image/jpeg, image/png"
          label="เลือกรูปภาพ จำกัดขนาดไม่เกิน 10 mb"
          :clear.sync="isClear"
          v-model="photos"
          Name="itemPhotos"
          >
        </uploadfile-component>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
            <router-link :to="{ name: 'centerUpdate' , params: {id: center.id} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
            <a href="#" @click.prevent="clearForm" class="btn btn-warning btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Clear</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </form>

    <loading :active.sync="isLoading" :is-full-page="fullpage"></loading>
  </div>
</template>

<script>
  import citizenTemplate from '@Vue/directives/citizen-autocomplete-template.vue'
  import officerTemplate from '@Vue/directives/officer-autocomplete-template.vue'
  import AutocompleteComponent from '@Vue/directives/AutocompleteComponent.vue'
  import UploadfileComponent from '@Vue/directives/UploadfileComponent.vue'
  import TagsInputComponent from '@Vue/directives/TagsInputComponent.vue'
  import Loading from 'vue-loading-overlay'
  import 'vue-loading-overlay/dist/vue-loading.css'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      },
      citizen_id: {
        type: Number,
      }
    },

    computed: {
      selectedCitizen() {
        if (this.citizenAutocomplete.hasOwnProperty('id')) return true
        return false
      },

      selectedOfficer() {
        if (this.officerAutocomplete.hasOwnProperty('id')) return true
        return false
      },
    },

    mounted() {
      this.getCenter()
      this.getCitizen()
      this.getSuggestions()
      this.getItemTypes()
    },

    data() {
      return {
        breadcrumbs: [],
        item: {
          types: [
            {
              text: 'เครื่องใช้ไฟฟ้า/เครื่องใช้ในครัวเรือน',
              value: 'electronics'
            },
            {
              text: 'ยานพาหนะ',
              value: 'vehicle'
            },
            {
              text: 'เครื่องมือเครื่องจักรการเกษตร',
              value: 'machine'
            },
            {
              text: 'อื่นๆ',
              value: 'other'
            }
          ],
          names: [],
        },

        item_types: [],

        repair: {
          item: {
            name: [],
            type: '',
            other_type: '',
            problem: [],
            status: [],
            attach: [],
            description: [],
            item_type: '',
          }
        },

        messages: [],

        citizenTemplate,
        officerTemplate,
        citizenAutocomplete: {},
        officerAutocomplete: {},

        isLoading: false,
        fullpage: true,
        isClear: false,
        isCreate: false,
        isUpload: false,
        isItemId: '',
        isRepairId: '',
        center: {},
        citizen: {},

        photos: [],

        tags: {
          url: '/api/item_suggestion?search=',
          autocompleteItems: []
        },

        autocomplete: {
          citizen: {}
        }
      }
    },

    watch: {
      isCreate(newVal, oldVal) {
        if (!oldVal && newVal)
          this.upload()
      },

      isUpload(newVal, oldVal) {
        if (!oldVal && newVal) {
          this.isCreate = false
          this.isUpload = false
          this.isLoading = false
          this.clearForm()
          this.printable()
        }
      },

      id(newVal, oldVal) {
        this.breadcrumbs = []
        this.getCenter()
        this.clearForm()
      },
    },

    methods: {
      getSuggestions() {
        axios.get('/api/item_suggestions').then(response => {
          this.tags.autocompleteItems = response.data.data.map(a => {
            return {text: a.name}
          })
        })
      },

      getCenter() {
        axios.get('/api/centers/' + this.id).then(response => {
          this.center = response.data.data
          this.breadcrumbs.push({
            text: 'ศูนย์ซ่อมสร้าง',
            to: {name: 'centerIndex'}
          })
          this.breadcrumbs.push({
            text: this.center.name,
            to: {name: 'centerUpdate', params: {id: this.center.id}}
          })
          this.breadcrumbs.push({
            text: "สร้างใบรับงานซ่อม",
            active: true
          })
        })
      },

      getCitizen() {
        axios.get('/api/citizens/' + this.citizen_id).then(function (response) {
          this.citizen = response.data.data
          this.setCitizen()
        }.bind(this))
      },

      getItemTypes() {
        axios.get('/api/item_types').then(response => {
          this.item_types = response.data.data.map(a => {
            return {text: a.name, value: a.id}
          })
        })
      },

      create() {
        this.isCreate = false
        this.isUpload = false
        this.isLoading = true

        let citizen_id = ''
        let officer_id = ''

        const formData = new FormData()
        if (! (_.isEmpty(this.citizenAutocomplete)))
          citizen_id = this.citizenAutocomplete.id
        if (! (_.isEmpty(this.officerAutocomplete)))
          officer_id = this.officerAutocomplete.id

        formData.append('citizen_id', citizen_id)
        formData.append('officer_id', officer_id)
        formData.append('item_type_id', this.repair.item.item_type)
        formData.append('itemProblem', this.repair.item.problem)
        formData.append('itemDescription', this.repair.item.description)
        formData.append('center_id', this.center.id)
        // formData.append('itemName', this.repair.item.name)
        // formData.append('itemType', this.repair.item.type)
        // formData.append('itemOtherType', this.repair.item.other_type)
        // formData.append('itemStatus', this.repair.item.status)
        // formData.append('itemAttach', this.repair.item.attach)

        axios
          .post(
            '/api/repairs',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              },
            }
          )
          .then(response => {
            this.isItemId = response.data.data.item.id
            this.isRepairId = response.data.data.id
            this.isCreate = true
            this.messages.push({msg:'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
            this.isLoading = false
          })
      },

      upload() {
        let files = this.photos

        if (files.length == 0 || this.isItemId == '') {
          this.isUpload = true
          return false
        }

        for (var i=0; i < files.length; i++) {
          const formData = new FormData()
          formData.append("id", this.isItemId)
          formData.append("type", "Item")
          formData.append("class", "items")

          files[i].forEach(function (file) {
            formData.append("files[]", file)
          })

          axios
            .post(
              '/api/files',
              formData,
              {
                headers: {
                  'Authorization': "Bearer " + localStorage.getItem('token'),
                  'Content-Type': 'multipart/form-data'
                }
              }
            )
            .then(response => {
              this.isUpload = true;
              this.messages.push({msg:'Upload Photo Successfull', type: 'success'})
            })
            .catch(error => {
              if (!_.isEmpty(error.response)) {
                if ((error.response.status = 422)) {
                  var errors = error.response.data.errors;
                  for (var key in errors)
                    this.messages.push({msg: errors[key], type: 'danger'})
                }
              }
              this.isLoading = false
            })
        }
      },

      clearForm() {
        let item = this.repair.item
        Object.keys(item).forEach(function (key) {
          item[key] = ''
        })
        this.isClear = !this.isClear
      },

      printable() {
        let href = window.location.href
        let pathname = window.location.pathname
        let url = href.split(pathname)
        url = url[0] + "/repairs/printable/" + this.isRepairId

        window.open(url, "_blank")
      },

      setCitizen() {
        const id = this.citizen.id
        this.autocomplete.citizen = {url: '/api/citizens/' + id}
      }
    },

    components: {
      AutocompleteComponent,
      UploadfileComponent,
      Loading,
      TagsInputComponent,
    }
  }
</script>
