<template>
  <repairs-component
    :id="id"
    status="waitrepair"
  >
  </repairs-component>
</template>

<script>
  import RepairsComponent from '@Vue/directives/RepairsComponent.vue'
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },
    
    components: {
      RepairsComponent
    }
  }
</script>
