<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Landingpage Management</li>
      </ol>
    </nav>

    <table class="table table-dark">
      <thead>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">description</th>
        <th scope="col">update</th>
      </thead>
      <tbody>
        <tr v-for="richtext in richtexts">
          <td> {{ richtext.id }}</td>
          <td> {{ richtext.name }}</td>
          <td> {{ richtext.description }}</td>
          <td>
            <router-link
              :to="{ name: 'landingUpdate', params: {richtextId : richtext.id} }"
              class="btn btn-light btn-circle">
              <i class="fas fa-edit"></i>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>

<script>
export default {
  mounted() {
    this.Richtexts();
  },
  data() {
    return {
      richtexts: {},
    };
  },
  methods: {
    Richtexts() {
      // axios.get(address ? address : "/api/richtexts").then(response => {
      //   this.richtexts = response.data.data;
      // });
      axios.get("/api/richtexts").then(response => {
        this.richtexts = response.data.data;
      });
    },
  }
};
</script>
