<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div v-if="isCatch">
      <div :class="['form-group m-1 p-3', successful ? 'alert-success' : '']">
        <span v-if="successful" class="label label-sucess">Updated!</span>
      </div>

      <div :class="['form-group m-1 p-3', error ? 'alert-danger' : '']">
        <span v-if="errors.title" class="label label-danger">
          {{ errors.title[0] }}
        </span>
        <span v-if="errors.body" class="label label-danger">
          {{ errors.body[0] }}
        </span>
      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <router-link :to="{ name: 'landingIndex', params: {} }">
            Landingpage Management
          </router-link>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
      </ol>
    </nav>


    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4 py-3 border-left-primary">
          <div class="card-body">
            {{ richtext.description }}
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row mt-3">
      <upload-base64></upload-base64>
    </div> -->

    <tinymce id="tiny1" v-model="richtextContent" :other_options="options"></tinymce>

    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="text-center">
          <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
            <span class="icon text-white-50">
              <i class="fas fa-check"></i>
            </span>
            <span class="text">Save</span>
          </a>
          <router-link :to="{ name: 'landingIndex', params: {} }"
            class="btn btn-secondary btn-icon-split mt-3">
            <span class="icon text-white-50">
              <i class="fas fa-undo"></i>
            </span>
            <span class="text">Cancle</span>
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import UploadBase64 from '../../UploadBase64.vue'

  export default {
    components: {
        UploadBase64
    },
    mounted() {
      this.getRichtexts();
    },
    props: {
      richtextId: {
        type: Number,
        required: true
      }
    },
    data() {
      return {
        error: false,
        successful: false,
        isCatch: false,
        errors: [],
        richtextContent: '',
        richtext: {},
        options: {
          height: "500"
        },
        customImageMaxSize: 3, // mb
        Images: []
      };
    },
    methods: {
      getRichtexts() {
        axios.get("/api/richtexts/" + this.richtextId).then(response => {
          this.richtextContent = response.data.data.content;
          this.richtext = response.data.data;
        });
      },
      update() {
        let content = this.richtextContent;

        axios
          .put(
            "/api/richtexts/" + this.richtextId,
            {content},
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.successful = true;
            this.error = false;
            this.errors = [];
            this.isCatch = true;
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                this.errors = error.response.data.errors;
                this.successful = false;
                this.error = true;
                this.isCatch = true;
              }
            }
          });
      },
    }
  }
</script>
