<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">User Management</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">email</th>
        <th scope="col">avatar</th>
        <th scope="col">update</th>
        <th scope="col">delete</th>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td> {{ user.id }}</td>
          <td> {{ user.name }}</td>
          <td> {{ user.email }}</td>
          <td> <img v-bind:src="user.avatar" width="100" height="100"> </td>
          <td>
            <router-link :to="{ name: 'update', params: {userId : user.id} }">
              <button type="button">Update</button>
            </router-link>
          </td>
          <td>
            <button type="button" @click="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</template>


<script>
export default {
  mounted() {
    this.getUsers();
  },
  data() {
    return {
      users: {},
      next: null,
      prev: null
    };
  },
  methods: {
    getUsers(address) {
      axios.get(address ? address : "/api/users").then(response => {
        this.users = response.data.data;
        this.prev = response.data.links.prev;
        this.next = response.data.links.next;
      });
    },
    deleteUser(id) {
      axios.delete("/api/users/" + id).then(response => {
        console.log(response.data);
        this.getUsers();
      });
    },
    navigate(address) {
      this.getUsers(address);
    }
  }
};
</script>
