<template>
  <div class="container-fluid">

    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs" />

    <form>
      <div class="form-group">
        <label>ค้นหาผู้รับบริการ</label>
        <AutocompleteComponent
          placeholder="ค้นหาจาก ชื่อ นามสกุล บัตรประชาชน เบอร์โทรศัพท์"
          url="/api/citizen_search?search="
          :itemTemplate="citizenTemplate"
          :initItem.sync="autocomplete.citizen"
          keylabel="fullname"
          v-model="citizenAutocomplete"
          :clear.sync="isClear"
        >
        </AutocompleteComponent>
      </div>

      <div class="form-group" v-if="selectedCitizen">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2" >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ citizenAutocomplete.title }} {{ citizenAutocomplete.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ที่อยู่: {{ citizenAutocomplete.address}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เลขบัตร: {{ citizenAutocomplete.numberFormat}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  tel: {{ citizenAutocomplete.phoneFormat }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label>สิ่งของที่นำมาซ่อม</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          :initTags="tags.name"
          v-model="repair.item.name"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div> -->

      <div class="form-group">
        <label>สิ่งของที่นำมาซ่อม</label>
        <select class="form-control" v-model="repair.item.item_type_id">
          <option v-for="type in item_types" v-bind:value="type.value">
            {{ type.text }}
          </option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label>ประเภทเครื่องใช้ที่ซ่อม</label>
        <select class="form-control" v-model="repair.item.type">
          <option v-for="type in item.types" v-bind:value="type.value">
            {{ type.text }}
          </option>
        </select>
        <input type="text" class="form-control" v-model="repair.item.other_type" v-if="repair.item.type == 'other'" placeholder="เครื่องใช้อื่นๆ กรุณากรอกข้อมูล"/>
      </div> -->

      <div class="form-group">
        <label>อาการเสีย</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.problem"
          :initTags="tags.problem"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div>

      <!-- <div class="form-group">
        <label>สภาพสินค้า</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.status"
          :initTags="tags.status"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div>

      <div class="form-group">
        <label>อุปกรณ์ที่ติดมาด้วย</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.attach"
          :initTags="tags.attach"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div> -->

      <div class="form-group">
        <label>รายละเอียด</label>
        <tags-input-component
          :url="tags.url"
          :autocompleteItems.sync="tags.autocompleteItems"
          v-model="repair.item.description"
          :initTags="tags.description"
          :clear.sync="isClear"
        >
        </tags-input-component>
      </div>

      <div class="form-group">
        <label>ค้นหาผู้รับลงทะเบียน</label>
        <AutocompleteComponent
          placeholder="ค้นหาจาก ชื่อ นามสกุล บัตรประชาชน"
          url="/api/officer_search?search="
          :itemTemplate="officerTemplate"
          :initItem.sync="autocomplete.register"
          keylabel="fullname"
          v-model="officerAutocomplete"
          :clear.sync="isClear"
        >
        </AutocompleteComponent>
      </div>

      <div class="form-group" v-if="selectedOfficer">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2" >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ officerAutocomplete.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  สาขา: {{ officerAutocomplete.department.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>รูปภาพของซ่อม</label>
        <uploadfile-component
          accept="image/jpeg, image/png"
          label="เลือกรูปภาพ จำกัดขนาดไม่เกิน 10 mb"
          :clear.sync="isClear"
          v-model="photos"
          Name="itemPhotos"
          >
        </uploadfile-component>
      </div>

      <div class="row">
        <h5>รูปภาพของซ่อม</h5>
      </div>
      <div class="row">
        <div class="col-lg-2" v-for="photo in repair.item.photos">
          <div class="card mb-3">
            <img
              v-bind:src="'/upload/items/' + photo.destination"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <p class="card-title">{{ photo.name }}</p>
              <button
                class="btn btn-danger btn-icon-split"
                data-toggle="tooltip"
                data-placement="right"
                title="DoubleClick to Delete"
                @click.prevent="removePhoto(photo.id)"
                >
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
            <router-link :to="{ name: 'centerUpdate' , params: {id: repair.center.id} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </form>

    <loading :active.sync="isLoading" :is-full-page="fullpage"></loading>
  </div>
</template>

<script>
  import citizenTemplate from '@Vue/directives/citizen-autocomplete-template.vue'
  import officerTemplate from '@Vue/directives/officer-autocomplete-template.vue'
  import AutocompleteComponent from '@Vue/directives/AutocompleteComponent.vue'
  import UploadfileComponent from '@Vue/directives/UploadfileComponent.vue'
  import TagsInputComponent from '@Vue/directives/TagsInputComponent.vue'
  import Loading from 'vue-loading-overlay'
  import 'vue-loading-overlay/dist/vue-loading.css'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    computed: {
      selectedCitizen() {
        if (this.citizenAutocomplete.hasOwnProperty('id')) return true
        return false
      },

      selectedOfficer() {
        if (this.officerAutocomplete.hasOwnProperty('id')) return true
        return false
      },
    },

    watch: {
      isUpdate(newVal, oldVal) {
        if (!oldVal && newVal) this.upload()
      },

      isUpload(newVal, oldVal) {
        if (!oldVal && newVal) {
          this.isUpdate = false
          this.isUpload = false
          this.isLoading = false
        }
      },
    },

    mounted() {
      this.Item()
      this.getSuggestions()
      this.getItemTypes()
    },

    data() {
      return {
        item: {
          types: [
            { text: 'เครื่องใช้ไฟฟ้า/เครื่องใช้ในครัวเรือน', value: 'electronics' },
            { text: 'ยานพาหนะ', value: 'vehicle' },
            { text: 'เครื่องมือเครื่องจักรการเกษตร', value: 'machine' },
            { text: 'อื่นๆ', value: 'other' }
          ],
          names: [],
        },

        breadcrumbs: [],
        repair: {},
        messages: [],

        citizenTemplate,
        officerTemplate,
        citizenAutocomplete: {},
        officerAutocomplete: {},
        isLoading: false,
        fullpage: true,
        isClear: false,
        isUpdate: false,
        isUpload: false,

        photos: [],
        deletePhoto: [],
        tags: {
          url: '/api/item_suggestions?search=',
          autocompleteItems: [],
        },

        status_text: {
          waitrepair: {
            text: "ของรอซ่อม",
            link: "repairWaitRepair"
          },
          waitsendback: {
            text: "ของรอคืน",
            link: "repairWaitSendback"
          },
          finished: {
            text: "เสร็จสิ้น",
            link: "repairFinished"
          }
        },

        autocomplete: {
          citizen: {},
          register: {}
        }
      }
    },

    methods: {
      Item() {
        const url = '/api/items/' + this.id

        axios.get(url).then(function (response) {
          this.repair = response.data.data
          this.repair.item.item_type_id = this.repair.item.item_type.id
          this.breadcrumb()
          this.setCitizen()
          this.setRegister()
          this.setTags()
        }.bind(this))
      },

      breadcrumb() {
        this.breadcrumbs.push({
          text: 'ศูนย์ซ่อมสร้าง',
          to: {name: 'centerIndex'}
        })
        this.breadcrumbs.push({
          text: this.repair.center.name,
          to: {name: 'centerUpdate', params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.status_text[this.repair.status].text,
          to: {name: this.status_text[this.repair.status].link, params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.repair.item.item_type.name,
          to: {name: 'itemShow', params: {id: this.id}}
        })
        this.breadcrumbs.push({
          text: 'แก้ไข',
          active: true
        })
      },

      getSuggestions() {
        axios.get('/api/item_suggestions').then(response => {
          this.tags.autocompleteItems = response.data.data.map(a => {
            return {text: a.name}
          })
        })
      },

      getItemTypes() {
        axios.get('/api/item_types').then(response => {
          this.item_types = response.data.data.map(a => {
            return {text: a.name, value: a.id}
          })
        })
      },

      setCitizen() {
        const id = this.repair.citizen.id
        this.autocomplete.citizen = {url: '/api/citizens/' + id}
      },

      setRegister() {
        const id = this.repair.performer.register.id
        this.autocomplete.register = {url: '/api/officers/' + id}
      },

      setTags() {
        const keys = ['name', 'problem', 'status', 'attach', 'description']
        const tags = this.tags
        const item = this.repair.item

        _.forEach(keys, function(key) {
          let data = item[key]
          if (!data) return;
          let datas = data.split(",")
          tags[key] = datas.map(a => {
            return {text: a, tiClasse: ['ti-valid']}
          })
        })
      },

      removePhoto(photoId) {
        this.deletePhoto.push(photoId)
        const photos = this.repair.item.photos

        for (var i = 0; i < photos.length; i++)
          if (photos[i].id === photoId) photos.splice(i,1);
      },

      update() {
        this.isUpdate = false
        this.isUpload = false
        this.isLoading = true
        this.messages = []

        let data = {}
        data['citizen'] = this.citizenAutocomplete
        data['register'] = this.officerAutocomplete
        data['item'] = this.repair.item
        data['deletePhoto'] = this.deletePhoto

        axios
          .put(
            '/api/items/' + this.id,
            data,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
              }
            }
          )
          .then(response => {
            this.messages.push({msg:'Edit Successfull', type: 'success'})
            this.isUpdate = true
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
            this.isLoading = false
          })
      },

      upload() {
        var filephoto = this.photos

        if (filephoto.length == 0) {
          this.isUpload = true;
          return;
        }

        for (var i = 0; i < filephoto.length; i++) {
          const formData = new FormData();

          formData.append("id", this.repair.item.id);
          formData.append("type", "Item");
          formData.append("class", "items")

          filephoto[i].forEach(function(file) {
            formData.append("files[]", file);
          });

          axios
          .post(
            "/api/files",
            formData,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
                'Content-Type': 'multipart/form-data'
              }
            }
          )
          .then(response => {
            this.isUpload = true;
            this.flash('Upload File Successfully', 'success');
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                this.flash(errors[key], 'warning');

                this.isLoading = false;
              }
            }
          });
        }
      },
    },

    components: {
      AutocompleteComponent,
      UploadfileComponent,
      Loading,
      TagsInputComponent,
    }
  }
</script>
