<template>
  <div class="container-fluid">

    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs" />

    <b-button v-b-toggle.collapse-1 variant="primary">รายละเอียดของซ่อม</b-button>
    <form>
      <b-collapse id="collapse-1" class="mt-2">
        <div class="form-row">
          <item-center-component :repair="repair" :isClass="isClass.col3"></item-center-component>
          <item-citizen-component :repair="repair" :isClass="isClass.col3"></item-citizen-component>
          <item-detail-component :repair="repair" :isClass="isClass.col6"></item-detail-component>
        </div>

        <div class="form-row" v-if="repair.item.photos">
          <item-photo-component :repair="repair"></item-photo-component>
        </div>
      </b-collapse>

      <h5>กรอกแบบฟอร์มการซ่อม</h5>
      <div class="form-row">
        <div class="form-group col-md-3 col-sm-6">
          <label>{{ label.result }}</label>
          <b-form-select
            v-model="repair.result"
            :options="options.result"
          >
          </b-form-select>
        </div>

        <div class="form-group col-md-3 col-sm-6" v-if="repair.result == 'forward'">
          <label>{{ label.forward }}</label>
          <input type="text" class="form-control" v-model="repair.forward" placeholder="ส่งต่อไปที่ไหน กรุณาระบุ"/>
        </div>

        <div class="form-group col-md-6 col-sm-12">
          <label>{{ label.description }}</label>
          <tags-input-component
            :url="tags.url"
            :autocompleteItems.sync="tags.autocompleteItems"
            :initTags="tags.initTags"
            v-model="repair.description"
            :clear.sync="isClear"
          >
          </tags-input-component>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3 col-sm-6" v-for="performer in performers">
          <label>{{ label[performer] }}</label>
          <AutocompleteComponent
            placeholder="ค้นหาจาก ชื่อ นามสกุล บัตรประชาชน"
            :url="autocomplete.url"
            :itemTemplate="officerTemplate"
            :initItem.sync="autocomplete.setter[performer]"
            keylabel="fullname"
            v-model="autocomplete[performer]"
            :clear.sync="isClear"
          >
          </AutocompleteComponent>

          <ul class="list-group pt-3 list-group-flush" v-if="selected(performer)">
            <li class="list-group-item">
              ชื่อ: {{ autocomplete[performer].fullname }} </br>
              สาขา: {{ autocomplete[performer].department.name }}
            </li>
          </ul>
        </div>

      </div>

      <h5>อะไหล่</h5>
      <div class="form-row">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">{{ label.part.name }}</th>
              <th scope="col">{{ label.part.amount}}</th>
              <th scope="col">{{ label.part.price }}</th>
              <th scope="col">{{ label.part.remove }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(inventory, index) in inventories" v-if="isInventories">
              <td>{{ inventory.part.name}} | {{ inventory.part.category }} | {{ inventory.part.department.name }}</td>
              <td><b-form-input type="number" v-model="inventories[index].cost"></b-form-input></td>
              <td>{{ partPrice(index)}}</td>
              <td><button type="button" class="btn btn-danger" @click="removePart(index)">{{label.part.remove}}</button></td>
            </tr>
            <tr v-if="isInventories">
              <td colspan="2" class="text-right">{{ label.part.total}}</td>
              <td class="text-right">{{ partTotal }}</td>
            </tr>
            <tr>
              <td colspan="2" class="text-right">{{ label.part.cost}}</td>
              <td class="text-right"><b-form-input type="number" v-model="repair.cost"></b-form-input></td>
            </tr>
          </tbody>
        </table>
      </div>

      <b-button v-b-toggle.collapse-part variant="primary">รายการอะไหล่</b-button>
      <b-collapse id="collapse-part" class="mt-2">
        <div class="form-row">
          <div class="form-group col-md-4 col-sm-12">
            <label>สาขา</label>
            <b-form-select
            v-model="filter.department"
            :options="options.departments"
            @change="getFilter"
            >
          </b-form-select>
        </div>
          <div class="form-group col-md-4 col-sm-12">
            <label>หมวดหมู่</label>
            <b-form-select
            v-model="filter.category"
            :options="options.categories"
            @change="getFilter"
            >
          </b-form-select>
        </div>
          <div class="form-group col-md-4 col-sm-12">
            <form @submit.prevent="getFilter">
              <label>ค้นหา</label>
              <div class="input-group">
                <input type="text" class="form-control" size="40" v-model="filter.search" placeholder="ค้นหาอะไหล่" />
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>

        <div class="form-row">
          <div v-for="part in parts" class="form-group col-xl-2 col-md-3 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="h5 font-weight-bold text-primary mb-1">
                      {{ part.name}}
                    </div>
                    <div class="text-xs mb-1 font-weight-bold text-gray-800">
                      จำนวน: {{ part.balance }} {{ part.unit}}
                    </div>
                    <div class="text-xs mb-1 font-weight-bold text-gray-800">
                      หมวดหมู่: {{ part.category}}
                    </div>
                    <div class="text-xs mb-1 font-weight-bold text-gray-800">
                      ราคา : {{ part.price }} บาท
                    </div>
                  </div>
                  <div class="col-auto">
                    <button
                      class="btn btn-primary btn-circle"
                      type="button"
                      @click="addPart(part)"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <pagination
          :data="paginate.data"
          @pagination-change-page="getResults"
          align="center"
          :limit="paginate.pageLimit"
          >
        </pagination>
      </b-collapse>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="submit" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Submit</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>

    </form>
  </div>
</template>

<script>
  import AutocompleteComponent from '@Vue/directives/AutocompleteComponent.vue'
  import ItemCenterComponent from '@Vue/directives/ItemCenterComponent.vue'
  import ItemCitizenComponent from '@Vue/directives/ItemCitizenComponent.vue'
  import ItemDetailComponent from '@Vue/directives/ItemDetailComponent.vue'
  import ItemPhotoComponent from '@Vue/directives/ItemPhotoComponent.vue'
  import TagsInputComponent from '@Vue/directives/TagsInputComponent.vue'
  import officerTemplate from '@Vue/directives/officer-autocomplete-template.vue'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    computed: {
      partTotal() {
        let total = 0
        this.inventories.forEach(function(inventory, index) {
          total += inventory.part.price * inventory.cost
        })

        return total
      },

      isInventories() {
        if (this.inventories.length !== 0) return true
        return false
      }
    },

    watch: {
      'filter.department': function(newVal, oldVal) {
        this.getCategories(newVal)
      }
    },

    mounted() {
      this.Item()
      this.getSuggestions()
      this.getDepartments()
      this.getCategories()
      this.getParts()
    },

    data() {
      return {
        messages: [],
        repair: {
          result: '',
          cost: 0
        },
        breadcrumbs: [],
        departments: {},
        parts: {},
        inventories: [],

        label: {
          result: 'ผลการซ่อม',
          description: 'รายละเอียดการซ่อม',
          forward: 'ส่งซ่อมต่อ',
          assessor: 'ผู้ประเมินงานซ่อม',
          chief: 'หัวหน้าชุดซ่อม',
          sender: 'ผู้ส่งซ่อม',
          technician: 'ผู้ดำเนินการซ่อม',
          part: {
            name: 'รายการอะไหล่',
            amount: 'จำนวน (ชิ้น / อัน)',
            price: 'จำนวนเงิน (บาท)',
            total: 'รวมเป็นเงินค่าอะไหล่',
            cost: 'ค่าแรง',
            remove: 'เอาออก'
          }
        },

        options: {
          result: [
            { text: 'รอซ่อม', value: 'wait'},
            { text: 'ซ่อมได้', value: 'reparable'},
            { text: 'ซ่อมไม่ได้', value: 'irreparable'},
            { text: 'ส่งซ่อมต่อ', value: 'forward'},
          ],
          categories: [],
          departments: [],
        },

        isClass: {
          col6: 'form-group col-md-6 col-sm-12',
          col3: 'form-group col-md-3 col-sm-6'
        },

        tags: {
          url: '/api/item_suggestion?search=',
          autocompleteItems: [],
          initTags: []
        },

        performers: [
          'assessor',
          'chief',
          'sender',
          'technician'
        ],

        officerTemplate,

        autocomplete: {
          assessor: {},
          chief: {},
          sender: {},
          technician: {},
          url: "/api/officer_search?search=",
          setter: {
            assessor: {},
            chief: {},
            sender: {},
            technician: {},
          }
        },

        isClear: false,

        status_text: {
          waitrepair: {
            text: "ของรอซ่อม",
            link: "repairWaitRepair"
          },
          waitsendback: {
            text: "ของรอคืน",
            link: "repairWaitSendback"
          },
          finished: {
            text: "เสร็จสิ้น",
            link: "repairFinished"
          }
        },

        filter: {
          department: '',
          category: '',
          search: ''
        },

        paginate: {
          data: {},
          pageLimit: 5,
        },
      }
    },

    methods: {
      submit() {
        const formData = new FormData()
        const repair_keys = ['result', 'forward', 'description', 'cost']
        const autocomplete_keys = ['assessor', 'chief', 'sender', 'technician']

        let repair = this.repair
        let autocomplete = this.autocomplete
        let inventories = this.inventories
        let data = {}

        Object.keys(repair).forEach((key) => { data[key] = repair[key] })
        Object.keys(autocomplete).forEach((key) => { data[key] = autocomplete[key].id })
        data['parts'] = inventories

        axios
          .put(
            '/api/repairs/' + this.repair.id,
            data,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
              }
            }
          )
          .then(response => {
            this.messages.push({msg:'Fixed Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      Item() {
        const url = '/api/items/' + this.id

        axios.get(url).then(function (response) {
          this.repair = response.data.data
          this.breadcrumb()
          this.setTags()
          this.setAutocompletes()
          this.setInventories()
        }.bind(this))
      },

      setTags() {
        const description = this.repair.description
        if (description == '') return
        const descriptions = description.split(",")
        this.tags.initTags = descriptions.map(a => {
          return {text: a, tiClasse: ['ti-valid']}
        })
      },

      setAutocompletes() {
        const performer = this.repair.performer
        const keys = ['assessor', 'chief', 'sender', 'technician']
        const setter = this.autocomplete.setter
        keys.forEach(function (key) {
          if (typeof performer[key].id !== 'undefined')
            setter[key] = {url: '/api/officers/' + performer[key].id}
        })
      },

      setInventories() {
        const parts = this.repair.parts
        const inventories = this.inventories
        parts.forEach(function (part) {
          if (Math.abs(part.cost) > 0)
            inventories.push({part: part.part, cost: Math.abs(part.cost)})
        })
      },

      getSuggestions() {
        axios.get('/api/item_suggestions').then(response => {
          this.tags.autocompleteItems = response.data.data.map(a => {
            return {text: a.name}
          })
        })
      },

      breadcrumb() {
        this.breadcrumbs.push({
          text: 'ศูนย์ซ่อมสร้าง',
          to: {name: 'centerIndex'}
        })
        this.breadcrumbs.push({
          text: this.repair.center.name,
          to: {name: 'centerUpdate', params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.status_text[this.repair.status].text,
          to: {name: this.status_text[this.repair.status].link, params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.repair.item.item_type.name,
          to: {name: 'itemShow', params: {id: this.id}}
        })
        this.breadcrumbs.push({
          text: 'หน้าซ่อมชิ้นงาน',
          active: true
        })
      },

      getDepartments() {
        this.options.departments = [{text: 'เลือกทั้งหมด', value: ''}]

        axios.get('/api/departments').then(response => {
          this.departments = response.data.data
          this.departments.map(a => {
            if (a.aka !== 'of') this.options.departments.push({text: a.name, value: a.id})
          })
        })
      },

      getCategories(id) {
        this.options.categories = [{text: 'เลือกทั้งหมด', value: ''}]
        this.filter.category = ''
        id = id ? id : null

        axios.get('/api/spare_parts/categories/' + id).then(response => {
          response.data.categories.map(a => {
            this.options.categories.push({text: a.category, value: a.category})
          })
        })
      },

      getFilter() {
        let url = this.getUrl()
        this.getParts(url)
      },

      getParts(address) {
        let url = address ? address : '/api/spare_parts'

        axios.get(url).then(response => {
          this.parts = response.data.data
          this.paginate.data = response.data
        })
      },

      addPart(part) {
        let index = _.findIndex(this.inventories, {'part' : {'id' : part.id}})
        if (index == -1) this.inventories.push({part: part, cost: 1})
      },

      removePart(index) {
        this.inventories.splice(index, 1)
      },

      partPrice(index) {
        let inventory = this.inventories[index]
        return inventory.part.price * inventory.cost
      },

      getResults(page = 1) {
        let url = this.getUrl(page)
        this.getParts(url)
      },

      getUrl(page = 1) {
        const department = this.filter.department
        const category = this.filter.category
        const search = this.filter.search

        const url = '/api/spare_parts?department=' +
                    this.filter.department +
                    '&category=' + this.filter.category +
                    '&search=' + this.filter.search +
                    '&page=' + page

        return url
      },

      selected(performer) {
        if (this.autocomplete[performer].hasOwnProperty('id')) return true
        return false
      },
    },

    components: {
      ItemCenterComponent,
      ItemCitizenComponent,
      ItemDetailComponent,
      ItemPhotoComponent,
      TagsInputComponent,
      AutocompleteComponent
    }
  }
</script>
