<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs" />

    <form>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.receiver }}</label>
          <b-form-input type="text" v-model="repair.receiver_name">
          </b-form-input>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.sender }}</label>
          <b-form-input type="text" v-model="repair.sender_name">
          </b-form-input>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.citizen_review }}</label>
          <b-form-select v-model="repair.citizen_review" :options="options.review">
          </b-form-select>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.technician_review }}</label>
          <b-form-select v-model="repair.technician_review" :options="options.review">
          </b-form-select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.citizen_comment }}</label>
          <b-form-input type="text" v-model="repair.citizen_comment">
          </b-form-input>
        </div>
        <div class="form-group col-md-6 col-sm-6">
          <label>{{ label.technician_comment }}</label>
          <b-form-input type="text" v-model="repair.technician_comment">
          </b-form-input>
        </div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="submit" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Submit</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </form>

  </div>
</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    mounted() {
      this.Item()
    },

    data() {
      return {
        label: {
          receiver: 'ผู้รับเครื่อง',
          sender: 'ผู้ส่งมอบเครื่อง',
          citizen_review: 'ระดับความพึงพอใจของผู้รับบริการ',
          citizen_comment: 'ความเห็นเพิ่มเติมของผู้รับบริการ',
          technician_review: 'ระดับความสำเร็จของการปฏิบัติงาน',
          technician_comment: 'ความเห็นเพิ่มเติมของหัวหน้าชุดช่างซ่อม',
        },

        options: {
          review: [
            { text: 'เลือกความพึงพอใจ', value: ''},
            { text: 'มากที่สุด', value: '5'},
            { text: 'มาก', value: '4'},
            { text: 'ปานกลาง', value: '3'},
            { text: 'น้อย', value: '2'},
            { text: 'น้อยที่สุด', value: '1'},
          ]
        },

        status_text: {
          waitrepair: {
            text: "ของรอซ่อม",
            link: "repairWaitRepair"
          },
          waitsendback: {
            text: "ของรอคืน",
            link: "repairWaitSendback"
          },
          finished: {
            text: "เสร็จสิ้น",
            link: "repairFinished"
          }
        },

        repair: {},
        breadcrumbs: [],
        messages: [],
      }
    },

    methods: {
      submit() {
        const keys = [
          'receiver_name', 'sender_name',
          'citizen_review', 'citizen_comment',
          'technician_review', 'technician_comment',
        ]
        const repair = this.repair
        const data = {}
        this.messages = []

        keys.forEach(function (key) { data[key] = repair[key] })

        axios
          .put(
            '/api/items/' + this.id + '/item_return',
            data,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
              }
            }
          )
          .then(response => {
            this.messages.push({msg:'Fixed Successfull', type: 'success'})
            this.itemShow()
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      itemShow() {
        this.$router.push({name: 'itemShow', params: {id: this.id}})
      },

      Item() {
        const url = '/api/items/' + this.id

        axios.get(url).then(function (response) {
          this.repair = response.data.data
          this.breadcrumb()
        }.bind(this))
      },

      breadcrumb() {
        this.breadcrumbs.push({
          text: 'ศูนย์ซ่อมสร้าง',
          to: {name: 'centerIndex'}
        })
        this.breadcrumbs.push({
          text: this.repair.center.name,
          to: {name: 'centerUpdate', params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.status_text[this.repair.status].text,
          to: {name: this.status_text[this.repair.status].link, params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.repair.item.item_type.name,
          to: {name: 'itemShow', params: {id: this.id}}
        })
        this.breadcrumbs.push({
          text: 'คืนของซ่อม',
          active: true
        })
      },
    }
  }

</script>
