<template>
  <div class="container-fluid">

    <b-breadcrumb :items="breadcrumbs" />

    <div class="clearfix pb-3">
      <router-link
        :to="{ name: 'itemEdit', params: {id: id} }"
        class="btn btn-info btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-edit"></i>
        </span>
        <span class="text">แก้ไขข้อมูล</span>
      </router-link>
      <router-link
        :to="{ name: 'itemFix', params: {id: id} }"
        class="btn btn-warning btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-wrench"></i>
        </span>
        <span class="text">ซ่อม</span>
      </router-link>
      <router-link
        :to="{ name: 'itemReturn', params: {id: id} }"
        class="btn btn-primary btn-icon-split pr-3"
        v-if="repair.status == 'waitsendback'"
      >
        <span class="icon text-white-50">
          <i class="fas fa-share-square"></i>
        </span>
        <span class="text">ส่งคืน</span>
      </router-link>
      <a class="btn btn-success btn-icon-split pr-3" :href='"/repairs/printable/" + repair.id' target="_blank">
        <span class="icon text-white-50">
          <i class="fas fa-print"></i>
        </span>
        <span class="text">ปริ้น</span>
      </a>
      <router-link
        :to="{ name: 'citizenRepair', params: {id: repair.citizen.id} }"
        class="btn btn-primary btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-share-square"></i>
        </span>
        <span class="text">ผู้รับบริการ</span>
      </router-link>
    </div>

    <form>
      <div class="form-row">
        <item-center-component :repair="repair"></item-center-component>
        <item-citizen-component :repair="repair"></item-citizen-component>
        <item-result-component :repair="repair"></item-result-component>
      </div>

      <div class="form-row">
        <item-detail-component :repair="repair"></item-detail-component>
        <item-performer-component :repair="repair"></item-performer-component>
      </div>

      <div class="form-row">
        <item-part-component :repair="repair"></item-part-component>
        <item-review-component :repair="repair"></item-review-component>
      </div>

      <div class="form-group" v-if="isPhoto">
        <item-photo-component :repair="repair"></item-photo-component>
      </div>

    </form>
  </div>
</template>

<script>
  import ItemCenterComponent from '@Vue/directives/ItemCenterComponent.vue'
  import ItemCitizenComponent from '@Vue/directives/ItemCitizenComponent.vue'
  import ItemDetailComponent from '@Vue/directives/ItemDetailComponent.vue'
  import ItemPartComponent from '@Vue/directives/ItemPartComponent.vue'
  import ItemPerformerComponent from '@Vue/directives/ItemPerformerComponent.vue'
  import ItemPhotoComponent from '@Vue/directives/ItemPhotoComponent.vue'
  import ItemResultComponent from '@Vue/directives/ItemResultComponent.vue'
  import ItemReviewComponent from '@Vue/directives/ItemReviewComponent.vue'

  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    computed: {
      isPhoto() {
        let photos = this.repair.item.photos
        if (_.isEmpty(photos)) return false
        return true
      }
    },

    created() {
      this.Item()
    },

    data() {
      return {
        repair: {},
        breadcrumbs: [],

        status_text: {
          waitrepair: {
            text: "ของรอซ่อม",
            link: "repairWaitRepair"
          },
          waitsendback: {
            text: "ของรอคืน",
            link: "repairWaitSendback"
          },
          finished: {
            text: "เสร็จสิ้น",
            link: "repairFinished"
          }
        }
      }
    },

    methods: {
      Item() {
        const url = '/api/items/' + this.id

        axios.get(url).then(function (response) {
          this.repair = response.data.data
          this.breadcrumb()
        }.bind(this))
      },

      breadcrumb() {
        this.breadcrumbs.push({
          text: 'ศูนย์ซ่อมสร้าง',
          to: {name: 'centerIndex'}
        })
        this.breadcrumbs.push({
          text: this.repair.center.name,
          to: {name: 'centerUpdate', params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.status_text[this.repair.status].text,
          to: {name: this.status_text[this.repair.status].link, params: {id: this.repair.center.id}}
        })
        this.breadcrumbs.push({
          text: this.repair.item.name,
          active: true
        })
      }
    },

    components: {
      ItemCenterComponent,
      ItemCitizenComponent,
      ItemDetailComponent,
      ItemPartComponent,
      ItemPerformerComponent,
      ItemPhotoComponent,
      ItemResultComponent,
      ItemReviewComponent,
    }
  }
</script>
