<template>
  <div class="container-fluid">
    <b-breadcrumb :items="breadcrumbs" />

    <div class="row mt-3">
      <div v-for="center in centers" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkCreate(center.id)"
                data-toggle="tooltip" data-placement="right" title="Click to Update"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ center.name }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  อำเภอ: {{ center.amphoe}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  จังหวัด: {{ center.province }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  created_at: {{ center.created_at}}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  updated_at: {{ center.updated_at}}
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="dataPaginate"
      @pagination-change-page="getResults"
      align="center"
      :limit="pageLimit"
      >
    </pagination>

  </div>
</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    data() {
      return {
        breadcrumbs: [],
        citizen: {},
        centers: {},
        dataPaginate: {},
        pageLimit: 5,
      }
    },

    mounted() {
      this.getCitizen()
      this.getCenters()
    },

    methods: {
      getCitizen() {
        const url = '/api/citizens/' + this.id
        axios.get(url).then(response => {
          this.citizen = response.data.data
          this.breadcrumb()
        })
      },

      getCenters(address) {
        let url = address ? address : "/api/centers"

        axios.get(url).then(response => {
          this.centers = response.data.data;
          this.dataPaginate = response.data;
        })
      },

      getResults(page = 1) {
        let url = '/api/centers?page=' + page;

        this.getCenters(url);
      },

      breadcrumb() {
        this.breadcrumbs.push( { text: 'ข้อมูลประชาชน', to: {name: 'citizenIndex'} } )
        const fullname = this.citizen.title + ' ' + this.citizen.fullname
        this.breadcrumbs.push({ text: fullname, to: {name: 'citizenShow', params : {id: this.id}} })
        this.breadcrumbs.push({ text: 'ลงทะเบียนของซ่อม', active: true})
      },

      linkCreate(centerId) {
        this.$router.push({name: 'repairCreate', params: {id: centerId, citizen_id: this.id}})
      }
    }
  }

</script>
