<template>
  <div class="container-fluid">

    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group
        id="citizenInputGroup1"
        label="คำนำหน้า"
        label-for="titleInput"
      >
        <b-form-input
          id="titleInput"
          type="text"
          v-model="citizen.title"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup2"
        label="ชื่อ นามสกุล"
        label-for="fullnameInput"
      >
        <b-form-input
          id="fullnameInput"
          type="text"
          v-model="citizen.fullname"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup3"
        label="ที่อยู่"
        label-for="addressInput"
      >
        <b-form-textarea
          id="addressInput"
          v-model="citizen.address"
          rows="3"
          max-rows="4"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup4"
        label="บัตรประชาชน"
        label-for="numberInput"
      >
        <b-form-input
          id="numberInput"
          type="text"
          maxlength="13"
          v-model="citizen.number"
          v-int
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup5"
        label="เบอร์โทรศัพท์"
        label-for="phoneInput"
      >
        <b-form-input
          id="phoneInput"
          type="text"
          maxlength="10"
          v-model="citizen.phone"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup6"
        label="รูปภาพบัตรประชาชน"
        label-for="avatar"
      >
        <input
          type="file"
          ref="avatar"
          name="avatar"
          @change="imageChange"
          accept="image/*"
          capture
        />

      </b-form-group>

      <div class="text-center" v-if="imageData.length > 0">
        <img :src="imageData" width="300" height="200" />
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
            <router-link :to="{ name: 'citizenIndex', params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
 export default {
   data() {
     return {
       breadcrumbs: [
         {
           text: 'ข้อมูลประชาชน',
           to: {name: 'citizenIndex'}
         },
         {
           text: 'Create',
           active: true
         }
       ],
       citizen: {
         title: '',
         fullname: '',
         address: '',
         number: '',
         phone: '',
       },

       messages: [],

       imageData: '',
     }
   },

   methods: {
     create() {
       const formData = new FormData();
       formData.append("title", this.citizen.title)
       formData.append("fullname", this.citizen.fullname)
       formData.append("address", this.citizen.address)
       formData.append("number", this.citizen.number)
       formData.append("phone", this.citizen.phone)
       formData.append("avatar", this.$refs.avatar.files[0])

       axios
        .post(
          '/api/citizens',
          formData,
          {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
          }
        )
        .then(response => {
          this.citizen.title = ''
          this.citizen.fullname = ''
          this.citizen.address = ''
          this.citizen.number = ''
          this.citizen.phone = ''
          this.$refs.avatar.value = ''
          this.imageData = ''
          this.messages.push({msg:'Create Successfull', type: 'success'})
        })
        .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
        })
     },

     imageChange() {
       const files = this.$refs.avatar.files
       if (files && files[0]) {
         const reader = new FileReader
         reader.onload = e => {
           this.imageData = e.target.result
         }

         reader.readAsDataURL(files[0]);
       }
     }
   }
 }
</script>
