<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">ข้อมูลประชาชน</li>
      </ol>
    </nav>

    <div class="clearfix">
      <router-link
        :to="{ name: 'citizenCreate', params: {} }"
        class="btn btn-primary btn-icon-split float-left"
      >
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create</span>
      </router-link>

      <form class="float-right form-inline" @submit.prevent="getSearch">
        <div class="input-group">
            <input type="text" class="form-control" size="40" ref="citizenSearch" name="citizenSearch" placeholder="ค้นหาชื่อ,บัตรประชาชน,เบอร์โทรศัพท์" />
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </span>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div v-for="citizen in citizens" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkUpdate(citizen.id)"
                data-toggle="tooltip" data-placement="right" title="Click to Update"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ citizen.title }} {{ citizen.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เลขบัตร: {{ citizen.numberFormat}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  tel: {{ citizen.phoneFormat }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  created_at: {{ citizen.created_at}}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  updated_at: {{ citizen.updated_at}}
                </div>
              </div>
              <!-- <div class="col-auto">
                <div class="dropdown">
                  <button
                    class="btn btn-danger btn-circle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fas fa-trash"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" @click="deleteCitizen(citizen.id)">Delete</a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="dataPaginate"
      @pagination-change-page="getResults"
      align="center"
      :limit="pageLimit"
      >
    </pagination>

  </div>
</template>

<script>
  import SearchComponent from '@Vue/directives/SearchComponent.vue';

  export default {
    mounted() {
      this.getCitizens();
    },

    data() {
      return {
        citizens: {},
        dataPaginate: {},
        pageLimit: 5,
      }
    },

    methods: {
      getCitizens(address) {
        let url = address ? address : "/api/citizens"
        axios.get(url).then(response => {
          this.citizens = response.data.data;
          this.dataPaginate = response.data;
        })
      },

      // deleteCitizen(id) {
      //   axios.delete(
      //     "/api/citizens/" + id,
      //     {
      //       headers: {
      //         'Authorization': 'Bearer ' + localStorage.getItem('token')
      //       }
      //     }
      //   )
      //   .then(response => this.getCitizens(this.dataPaginate.links.current_page))
      // },

      getResults(page = 1) {
        let search = this.$refs.citizenSearch.value;
        let url = '/api/citizens?search=' + search + '&page=' + page;

         this.getCitizens(url);
      },

      getSearch() {
        let search = this.$refs.citizenSearch.value;
        let url = '/api/citizens?search=' + search;

        axios.get(url).then(response => {
          this.citizens = response.data.data;
          this.dataPaginate = response.data;
        })
      },

      linkUpdate(id) {
        // this.$router.push({name: 'citizenUpdate', params: {id: id}})
        this.$router.push({name: 'citizenShow', params: {id: id}})
      }
    }
  }
</script>
