<template>
  <div class="container-fluid">
    <b-breadcrumb :items="breadcrumbs" />

    <div class="row mt-3">
      <div v-for="repair in repairs" class="col-xl-3 col-md-6 mb-4">
        <div
          class="card border-left-warning shadow h-100 py-2"
        >
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkShow(repair.item.id)"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{repair.item.item_type.name}}
                </div>
                <!-- <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ประเภท: {{ repair.item.type_name}}
                </div> -->
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ผู้รับบริการ: {{ repair.citizen.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เบอร์โทรศัพท์: {{ repair.citizen.phoneFormat}}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  วันที่รับบริการ: {{ repair.created_at}}
                </div>
                <b-collapse :id="repair.item.id">
                  <img :src="isPhoto(repair.item.photos)" width="200" height="200"/>
                </b-collapse>
              </div>
              <div class="col-auto">
                <b-button v-b-toggle="repair.item.id" variant="primary">รูปภาพ</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    data() {
      return {
        breadcrumbs: [],
        repairs: {},
        citizen: {},
      }
    },

    mounted() {
      this.getRepairs()
      this.getCitizen()
      console.log(this.$router);
    },

    methods: {
      getRepairs() {
        const url = '/api/citizens/' + this.id + '/repairs'
        axios.get(url).then(response => {
          this.repairs = response.data.data
        })
      },

      getCitizen() {
        const url = '/api/citizens/' + this.id
        axios.get(url).then(response => {
          this.citizen = response.data.data
          this.breadcrumb()
        })
      },

      breadcrumb() {
        this.breadcrumbs.push( { text: 'ข้อมูลประชาชน', to: {name: 'citizenIndex'} } )
        const fullname = this.citizen.title + ' ' + this.citizen.fullname
        this.breadcrumbs.push({ text: fullname, to: {name: 'citizenShow', params : {id: this.id}} })
        this.breadcrumbs.push({ text: 'ของที่นำมาซ่อม', active: true})
      },

      isPhoto(photos) {
        if (_.isEmpty(photos))
          return 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'
        let photo = photos[0]
        return '/upload/items/' + photo.destination
      },

      linkShow(id) {
        this.$router.push({name: 'itemShow', params: {id: id}})
      }
    }
  }

</script>
