<template>
  <div class="container-fluid">
    <b-breadcrumb :items="breadcrumbs" />

    <div class="clearfix pb-3">
      <router-link
        :to="{ name: 'citizenUpdate', params: {id: id} }"
        class="btn btn-info btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-edit"></i>
        </span>
        <span class="text">แก้ไขข้อมูล</span>
      </router-link>
      <router-link
        :to="{ name: 'citizenRepair', params: {id: id} }"
        class="btn btn-warning btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-wrench"></i>
        </span>
        <span class="text">ของที่นำมาซ่อม</span>
      </router-link>
      <router-link
        :to="{ name: 'citizenCenter', params: {id: id} }"
        class="btn btn-primary btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-clipboard-list"></i>
        </span>
        <span class="text">ลงทะเบียนของซ่อม</span>
      </router-link>
      <router-link
        :to="{ name: 'repairCreate', params: {id: 1, citizen_id: id} }"
        class="btn btn-dark btn-icon-split pr-3"
      >
        <span class="icon text-white-50">
          <i class="fas fa-home"></i>
        </span>
        <span class="text">ลงทะเบียนของซ่อมศูนย์ถาวร</span>
      </router-link>
    </div>

    <form>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2" >
                  <div class="h5 font-weight-bold text-primary mb-1">
                    {{ label.header }}
                  </div>
                  <div class="text-xs font-weight-bold text-gray-900 mb-1">
                    {{ label.name }} : {{citizen.title}} {{citizen.fullname }}
                  </div>
                  <div class="text-xs font-weight-bold text-gray-900 mb-1">
                    {{ label.address }} : {{ citizen.address}}
                  </div>
                  <div class="text-xs font-weight-bold text-gray-900 mb-1">
                    {{ label.number }} : {{ citizen.numberFormat}}
                  </div>
                  <div class="text-xs font-weight-bold text-gray-900 mb-1">
                    {{ label.tel }} : {{ citizen.phoneFormat}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group col-md-6 col-sm-12">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <img :src='"/upload/citizens/" + citizen.avatar' class="img-fluid" alt="Responsive image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    data() {
      return {
        label: {
          header: 'ผู้รับบริการ',
          name: 'ชื่อ-สกุล',
          address: 'ที่อยู่',
          number: 'บัตรประชาชน',
          tel: 'เบอร์โทรศัพท์'
        },
        citizen: {},
        breadcrumbs: [],
      }
    },

    mounted() {
      this.getCitizen()
    },

    methods: {
      getCitizen() {
        const url = '/api/citizens/' + this.id
        axios.get(url).then(response => {
          this.citizen = response.data.data
          this.breadcrumb()
        })
      },

      breadcrumb() {
        this.breadcrumbs.push({ text: 'ข้อมูลประชาชน', to: {name: 'citizenIndex'} })
        const fullname = this.citizen.title + ' ' + this.citizen.fullname
        this.breadcrumbs.push({ text: fullname, active: true })
      }
    }
  }

</script>
