<template>
  <div class="container-fluid">

    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group
        id="citizenInputGroup1"
        label="คำนำหน้า"
        label-for="titleInput"
      >
        <b-form-input
          id="titleInput"
          type="text"
          v-model="citizen.title"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup2"
        label="ชื่อ นามสกุล"
        label-for="fullnameInput"
      >
        <b-form-input
          id="fullnameInput"
          type="text"
          v-model="citizen.fullname"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup3"
        label="ที่อยู่"
        label-for="addressInput"
      >
        <b-form-textarea
          id="addressInput"
          v-model="citizen.address"
          rows="3"
          max-rows="4"
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup4"
        label="บัตรประชาชน"
        label-for="numberInput"
      >
        <b-form-input
          id="numberInput"
          type="text"
          maxlength="13"
          v-model="citizen.number"
          v-int
          required />
      </b-form-group>

      <b-form-group
        id="citizenInputGroup5"
        label="เบอร์โทรศัพท์"
        label-for="phoneInput"
      >
        <b-form-input
          id="phoneInput"
          type="text"
          maxlength="10"
          v-model="citizen.phone"
          required />
      </b-form-group>

      <div class="text-center" v-if='citizen.avatar'>
        <img :src='"/upload/citizens/" + citizen.avatar' width="300" height="200" />
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
            <router-link :to="{ name: 'citizenIndex', params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
 export default {
   mounted() {
     this.getCitizen()
   },

   props: {
     id: {
       type: Number,
       required: true
     }
   },

   data() {
     return {
       breadcrumbs: [],
       citizen: {},
       messages: [],
       imageData: '',
     }
   },

   methods: {
     getCitizen() {
       axios.get('/api/citizens/' + this.id).then(response => {
         this.citizen = response.data.data;
         this.breadcrumb()
       })
     },

     breadcrumb() {
      this.breadcrumbs.push( { text: 'ข้อมูลประชาชน', to: {name: 'citizenIndex'} } )
      const fullname = this.citizen.title + ' ' + this.citizen.fullname
      this.breadcrumbs.push({ text: fullname, to: {name: 'citizenShow', params : {id: this.id}} })
      this.breadcrumbs.push({ text: 'แก้ไข', active: true})
     },

     update() {
       let title = this.citizen.title
       let fullname = this.citizen.fullname
       let address = this.citizen.address
       let number = this.citizen.number
       let phonenumber = this.citizen.phone

       axios
        .put(
          '/api/citizens/' + this.id,
            {title, fullname, address, number, phonenumber},
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.messages.push({msg:'Update Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
     },
   }
 }
</script>
