<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group :label="label.name">
        <b-form-input
          type="text"
          v-model="part.name"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.price">
        <b-form-input
          type="number"
          v-model="part.price"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.type">
        <b-form-select v-model="part.type" :options="select.types"></b-form-select>
      </b-form-group>

      <b-form-group :label="label.department">
        <b-form-select v-model="part.department_id" :options="select.departments"></b-form-select>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'บุคลาการ',
            to: {name: 'officerIndex'}
          },
          {
            text: 'สร้าง',
            active: true
          }
        ],

        label: {
          fullname: 'ชื่อ สกุล',
          citizen_number: 'บัตรประชาชน',
          phonenumber: 'เบอร์โทรศัพท์',
          type: 'ประเภท',
          department: 'สาขา',
        },

        select: {
          types: [
            { value: '', text: 'เลือกประเภทบุคลากร'},
            { value: 'student', text: 'นักศึกษา'},
            { value: 'teacher', text: 'ครู อาจารย์ เจ้าหน้าที่'},
          ],

          departments: [
            { value: '', text: 'เลือกสาขาวิชา'},
            { value: 1, text: 'ช่างไฟฟ้ากำลัง'},
            { value: 2, text: 'ช่างอิเล็กทรอนิกส์'},
            { value: 3, text: 'ช่างยนต์'},
            { value: 4, text: 'เจ้าหน้าที่'},
          ]
        },

        part: {
          type: '',
          department_id: ''
        },

        messages: [],
      }
    },

    methods: {
      create() {
        const formData = new FormData()
        formData.append("fullname", this.part.fullname)
        formData.append("citizen_number", this.part.citizen_number)
        formData.append("phonenumber", this.part.phonenumber)
        formData.append("department_id", this.part.department_id)
        formData.append("type", this.part.type)

        this.messages = []

        axios
          .post(
            '/api/officers',
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.clearForm()
            this.messages.push({msg: 'Create Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      clearForm() {
        let part = this.part
        Object.keys(part).forEach(function (key) {
          part[key] = ''
        })
      }

    }
  }
</script>
