<template>
  <div class="container-fluid">
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">อะไหล่</li>
      </ol>
    </nav>

    <div
      class="alert alert-primary"
      role="alert"
      v-for="department in departments"
      v-if="department.aka !== 'of'"
    >
      <router-link :to="{ name: 'partIndex', params: {id: department.id} }">
        {{ department.name }}
      </router-link>
    </div>
  </div>

</template>

<script>
  export default {
    data() {
      return {
        label: {
          ep: 'ช่างไฟฟ้ากำลัง',
          el: 'ช่างอิเล็กทรอนิกส์',
          at: 'ช่างยนต์',
        },

        departments: {}
      }
    },

    mounted() {
      this.getDepartments()
    },

    methods: {
      getDepartments() {
        axios.get('/api/departments').then(response => {
          this.departments = response.data.data
        })
      }
    }
  }
</script>
