<template>
  <div class="container-fluid">
    <flash-message></flash-message>

    <b-breadcrumb :items="breadcrumbs"/>

    <post-create-component
      urlPost="/api/posts"
      postType="information"
      urlBack='informationIndex'
      ></post-create-component>
  </div>
</template>

<script>
  import PostCreateComponent from '@Vue/directives/PostCreateComponent.vue';
  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'บริการข้อมูล',
            to: {name: 'informationIndex'}
          },
          {
            text: 'Create',
            adtive: true
          }
        ]
      }
    },

    components: {
      PostCreateComponent
    }
  };
</script>
