<template>
<div class="container-fluid">
  <post-index-component
    postType="information"
    postHeader="บริการข้อมูล"
    urlCreate="informationCreate"
    urlUpdate="informationUpdate"
  ></post-index-component>
</div>
</template>

<script>
  import PostIndexComponent from '@Vue/directives/PostIndexComponent.vue'

  export default {
    components: {
      PostIndexComponent
    }
  }
</script>
