<template>
  <div class="container-fluid">

    <flash-message></flash-message>

    <b-breadcrumb :items="breadcrumbs"/>

    <post-update-component
      urlPost='/api/posts/'
      :postId="postId"
      postType="information"
      urlBack='informationIndex'
      ></post-update-component>
  </div>
</template>

<script>
  import PostUpdateComponent from '@Vue/directives/PostUpdateComponent.vue';

  export default {
    data() {
      return {
        breadcrumbs: [
          {
            text: 'บริการข้อมูล',
            to: {name: 'informationIndex'}
          },
          {
            text: 'Update',
            adtive: true
          }
        ]
      }
    },

    props: {
      postId: {
        type: Number,
        required: true
      }
    },

    components: {
      PostUpdateComponent
    }
  }

</script>
