<template>
  <div class="container-fluid">
    <div v-for="message in messages">
      <b-alert show dismissible v-bind:variant='message.type'>
        {{message.msg}}
      </b-alert>
    </div>

    <b-breadcrumb :items="breadcrumbs"/>

    <b-form>
      <b-form-group :label="label.fullname">
        <b-form-input
          type="text"
          v-model="officer.fullname"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.citizen_number">
        <b-form-input
          type="text"
          v-model="officer.citizen_number"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.phonenumber">
        <b-form-input
          type="text"
          v-model="officer.phonenumber"
          required
        >
        </b-form-input>
      </b-form-group>

      <b-form-group :label="label.type">
        <b-form-select v-model="officer.type" :options="select.types"></b-form-select>
      </b-form-group>

      <b-form-group :label="label.department">
        <b-form-select v-model="officer.department_id" :options="select.departments"></b-form-select>
      </b-form-group>

      <div class="row">
        <div class="col"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </b-form>
  </div>

</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    data() {
      return {
        breadcrumbs: [
          {
            text: 'บุคลาการ',
            to: {name: 'officerIndex'}
          },
          {
            text: 'แก้ไข',
            active: true
          }
        ],

        label: {
          fullname: 'ชื่อ สกุล',
          citizen_number: 'บัตรประชาชน',
          phonenumber: 'เบอร์โทรศัพท์',
          type: 'ประเภท',
          department: 'สาขา',
        },

        select: {
          types: [
            { value: '', text: 'เลือกประเภทบุคลากร'},
            { value: 'student', text: 'นักศึกษา'},
            { value: 'teacher', text: 'ครูอาจารย์'},
            { value: 'officer', text: 'เจ้าหน้าที่'},
            { value: 'chief', text: 'ฝ่ายบริหาร'},
            { value: 'community', text: 'ชุมชน'},
          ],

          departments: [
            { value: '', text: 'เลือกสาขาวิชา'},
            { value: 1, text: 'ช่างไฟฟ้ากำลัง'},
            { value: 2, text: 'ช่างอิเล็กทรอนิกส์'},
            { value: 3, text: 'ช่างยนต์'},
            { value: 4, text: 'เจ้าหน้าที่'},
          ]
        },

        officer: {},

        messages: [],
      }
    },

    mounted() {
      this.getOfficer()
    },

    methods: {
      update() {
        const fullname = this.officer.fullname
        const citizen_number = this.officer.citizen_number
        const phonenumber = this.officer.phonenumber
        const department_id = this.officer.department_id
        const type = this.officer.type

        this.messages = []

        axios
          .put(
            '/api/officers/' + this.id,
            { fullname, citizen_number, phonenumber, department_id, type},
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.messages.push({msg: 'Update Successfull', type: 'success'})
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.messages.push({msg: errors[key], type: 'danger'})
              }
            }
          })
      },

      getOfficer() {
        axios.get('/api/officers/' + this.id).then(response => {
          this.officer = response.data.data
          this.officer.department_id = response.data.data.department.id
        })
      },

      clearForm() {
        let officer = this.officer
        Object.keys(officer).forEach(function (key) {
          officer[key] = ''
        })
      }

    }
  }
</script>
