<template>
    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" @click="clickToggle">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            </form>

              <div class="topbar-divider d-none d-sm-block"></div>
              <homepage-menu-component
                :name="userName"
                :avatar="userAvatar"
                :id="userId"
              >
              </homepage-menu-component>

            </ul>

          </nav>
          <!-- End of Topbar -->
          <router-view></router-view>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Fixitcenterchainat 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
</template>

<script>
  import HomepageMenuComponent from '@Vue/directives/HomepageMenuComponent.vue'

  export default {
    props: {
      userId: {
        type: Number,
        required: true
      },
      userName: {
        type: String,
        required: true
      },
      userAvatar: {
        type: String,
        required: true
      }
    },

    mounted() {
      axios.post('/api/auth/login', {
        userId: this.userId
      }).then(response => {
        localStorage.setItem('token', response.data.access_token)
      }).catch(error => {
        alert("กรุณาเปิดปิดใหม่")
        console.log(error);
      })
    },

    data() {
      return {
        isToggled: false,
      }
    },

    methods: {
      clickToggle() {
        this.isToggled = !this.isToggled;
      }
    },

    components: {
      HomepageMenuComponent
    }
  }

</script>
