<template>
  <div class="container-fluid">
    <nav aria-label="breadcrumb bg-primary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">บุคลากร</li>
      </ol>
    </nav>

    <div class="clearfix">
      <router-link
        :to="{ name: 'officerCreate', params: {} }"
        class="btn btn-primary btn-icon-split float-left"
      >
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Create</span>
      </router-link>

      <form class="float-right">
        <div class="form-row">
          <div class="col">
            <b-form-select
              v-model="filter.type"
              :options="options.types"
              @change="getFilter"
            >
            </b-form-select>
          </div>
          <div class="col">
            <b-form-select
              v-model="filter.department_id"
              :options="options.departments"
              @change="getFilter"
            >
            </b-form-select>
          </div>
        </div>
      </form>
    </div>

    <div class="row mt-3">
      <div v-for="officer in officers" class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkUpdate(officer.id)"
                data-toggle="tooltip" data-placement="right" title="Click to Update"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{ officer.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เลขบัตร: {{ officer.number_format}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  tel: {{ officer.phone_format }}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  {{ officer.type_name }} | {{ officer.department.name }}
                </div>
              </div>
              <div class="col-auto">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <pagination
      :data="paginate.data"
      @pagination-change-page="getResults"
      align="center"
      :limit="paginate.pageLimit"
    >
    </pagination>

  </div>

</template>

<script>
  export default {
    mounted() {
      this.getOfficers()
    },

    data() {
      return {
        officer: {
          url: '/api/officers'
        },

        paginate: {
          data: {},
          pageLimit: 5,
        },

        officers: {},

        options: {
          types: [
            { value: '', text: 'ประเภทบุคลากร'},
            { value: 'student', text: 'นักศึกษา'},
            { value: 'teacher', text: 'ครูอาจารย์'},
            { value: 'officer', text: 'เจ้าหน้าที่'},
            { value: 'chief', text: 'ฝ่ายบริหาร'},
            { value: 'community', text: 'ชุมชน'},
          ],

          departments: [
            { value: '', text: 'สาขาวิชา'},
            { value: 1, text: 'ช่างไฟฟ้ากำลัง'},
            { value: 2, text: 'ช่างอิเล็กทรอนิกส์'},
            { value: 3, text: 'ช่างยนต์'},
            { value: 4, text: 'เจ้าหน้าที่'},
          ]
        },

        filter: {
          type: '',
          department_id: ''
        }
      }
    },

    methods: {
      getOfficers(address) {
        let url = address ? address : this.officer.url
        axios.get(url).then(response => {
          this.officers = response.data.data
          this.paginate.data = response.data
        })
      },

      getResults(page = 1) {
        let url = this.getUrl(page)
        this.getOfficers(url)
      },

      getFilter() {
        let url = this.getUrl()
        this.getOfficers(url)
      },

      getUrl(page = 1) {
        const type = this.filter.type
        const department_id = this.filter.department_id

        let url = this.officer.url + "?type=" + type + "&department_id=" + department_id +"&page=" + page
        return url
      },

      linkUpdate(id) {
        this.$router.push({name: 'officerEdit', params: {id: id}})
      }
    },
  }

</script>
