<template>
  <div class="container-fluid">

    <b-breadcrumb :items="breadcrumbs" />

    <table class="table">
      <thead>
        <tr>
          <th scope="col">รายการ</th>
          <th scope="col">จำนวน</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in item_group">
          <td>{{ ItemName(item.item_type_id)}}</td>
          <td>{{ item.total }}</td>
        </tr>
        <tr>
          <td>ประชาชน</td>
          <td>{{ citizen_total }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</template>

<script>
  export default {
    props: {
      id: {
        type: Number,
        required: true
      }
    },

    mounted() {
      this.getCenter()
      this.getItemTypes()
      this.getItemCount()
    },

    data() {
      return {
        breadcrumbs: {},
        center: {},
        item_types: [],
        item_group: [],
        citizen_total: 0,
      }
    },

    methods: {
      getCenter() {
        axios.get('/api/centers/' + this.id).then(response => {
          this.center = response.data.data
          this.breadcrumbs = []
          this.breadcrumbs.push({
            text: 'ศูนย์ซ่อมสร้าง',
            to: {name: 'centerIndex'}
          })
          this.breadcrumbs.push({
            text: this.center.name,
            to: {name: 'centerUpdate', params: {id: this.center.id}}
          })
          this.breadcrumbs.push({
            text: 'รายงาน',
            active: true
          })
        })
      },

      getItemTypes() {
        axios.get('/api/item_types').then(response => {
          this.item_types = response.data.data.map(a => {
            return {text: a.name, value: a.id}
          })
        })
      },

      getItemCount() {
        axios.get('/api/centers/' + this.id + '/report').then(response => {
          this.item_group = response.data.itemGroup
          this.citizen_total = response.data.citizenTotal
        })
      },

      ItemName(id) {
        let item = _.find(this.item_types, { 'value': id})
        return item.text
      },
    }
  }
</script>
