<template lang="pug">
  vue-suggestion(
    :items = "items",
    v-model="item",
    :setLabel="setLabel",
    :itemTemplate="itemTemplate",
    :minLen="minLen"
    :placeholder="placeholder"
    @onInputChange='inputChange',
    @onItemSelected='itemSelected'
  )
</template>

<script>
  import VueSuggestion from 'vue-suggestion'

  export default {
    name: 'autocomplete-component',
    props: {
      placeholder: {
        type: String,
        required: true,
      },

      minLen: {
        type: Number,
        default: 3
      },

      url: {
        type: String,
        required: true
      },

      itemTemplate: {
        type: Object,
        required: true
      },

      keylabel: {
        type: String,
        required: true
      },

      clear: {
        type: Boolean,
        required: true
      },

      initItem: {
        type: Object,
        default: () => {}
      }
    },

    watch: {
      clear(newVal, oldVal) {
        this.item = {}
        this.items = []
        this.$emit('input', this.item)
      },

      initItem(newVal, oldVal) {
        this.setItem(newVal)
      }
    },

    data() {
      return {
        item: {},
        items: [],
      }
    },

    methods: {
      itemSelected(item) {
        this.item = item
        this.$emit('input', this.item)
      },

      setLabel(item) {
        return item[this.keylabel]
      },

      inputChange(text) {
        this.items = []
        let url = this.url + text

        axios.get(url).then(response => {
          this.items = response.data.data
        })
      },

      setItem(item) {
        if (_.isEmpty(item)) return
        const url = item.url
        axios.get(url).then(response => {
          this.itemSelected(response.data.data)
        })
      },
    },

    created() {
      this.setItem(this.initItem)
    },

    components: {
      VueSuggestion
    }
  }
</script>
