<template>
  <div>
    <span>ชื่อ: {{ item.fullname }} | บัตรประชาชน: {{ item.numberFormat}} | เบอร์โทรศัพท์: {{ item.phoneFormat}}</span>
  </div>
</template>

<script>
export default {
  props: {
    item: { required: true },
  }
}
</script>
