<template>
  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ name }}</span>
      <img class="img-profile rounded-circle" v-bind:src="avatar">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

      <a class="dropdown-item" href="/admin/dashboard" v-if="isAdmin">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        {{ label.admin }}
      </a>

      <a class="dropdown-item" href="/center/dashboard">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        {{ label.center}}
      </a>

      <a class="dropdown-item" href="/officer/dashboard" v-if="isAdmin">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        {{ label.officer}}
      </a>

      <a class="dropdown-item" href="/inventories/dashboard" v-if="isTeacher">
        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
        {{ label.parts}}
      </a>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/logout">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Logout
      </a>
    </div>
  </li>
</template>

<script>
  export default {
    name: 'homepage-menu-component',
    props: {
      name: {
        type: String,
        required: true
      },

      avatar: {
        type: String,
        required: true
      },

      id: {
        type: Number,
        required: true
      },
    },

    computed: {
      isAdmin() {
        if (this.user.role_name == 'admin') return true
        return false
      },

      isTeacher() {
        if (_.includes(['admin', 'teacher'], this.user.role_name)) return true
        return false
      }
    },

    mounted() {
      this.getUser()
    },

    data() {
      return {
        label: {
          admin: 'จัดการประกาศ',
          center: 'จัดการศูนย์ซ่อมสร้าง',
          officer: 'จัดการบุคลากร',
          parts: 'จัดการอะไหล่',
          logout: 'ออกจากระบบ',
        },

        user: {}
      }
    },

    methods: {
      getUser() {
        const url = '/api/users/' + this.id
        axios.get(url).then(response => {
          this.user = response.data.data
        })
      }
    }
  }

</script>
