<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.result }} : {{ repair.result_name }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.description }} : {{ repair.description }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1" v-if="repair.start_date">
              {{ label.start }} : {{ repair.start_date | moment("D MMMM YYYY")}}  {{ label.time}} : {{ repair.start_date | moment("HH:mm")}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1" v-if="repair.end_date">
              {{ label.end }} : {{ repair.end_date | moment("D MMMM YYYY")}} {{ label.time}} : {{ repair.end_date | moment("HH:mm")}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1" v-if="repair.receiver_name">
              {{ label.receiver }} : {{ repair.receiver_name }} {{ label.date}} : {{ repair.receiver_date }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1" v-if="repair.sender_name">
              {{ label.sender }} : {{ repair.sender_name }} {{ label.date}} : {{ repair.sender_date}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-result-component',
    data() {
      return {
        label: {
          date: 'วันที่',
          time: 'เวลา',
          result: 'ผลการซ่อม',
          description: 'รายละเอียดการซ่อม',
          start: 'วันที่เริ่ม',
          end: 'วันที่ซ่อมเสร็จ',
          receiver: 'ผู้รับเครื่อง',
          sender: 'ผู้ส่งมอบเครื่อง',
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-4 col-sm-12'
      }
    },
  }
</script>
