<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.review }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.citizen_score }} : {{repair.citizen_review}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.citizen_comment }} : {{ repair.citizen_comment}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.tech_score }} : {{ repair.technician_review}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.tech_comment }} : {{ repair.technician_comment}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-review-component',
    data() {
      return {
        label: {
          review: 'ประเมินผลการปฏิบัติงาน',
          citizen_score: 'ระดับความพึงพอใจของผู้รับบริการ',
          citizen_comment: 'ความเห็นเพิ่มเติมของผู้บริการ',
          tech_score: 'ระดับความสำเร็จของการปฏิบัติงาน',
          tech_comment: 'ความเห็นเพิ่มเติมของหัวหน้าชุดช่างซ่อม',
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-4 col-sm-12'
      }
    },
  }
</script>
