<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.name }} : {{ repair.center.name}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.date }} : {{ repair.created_at | moment("D MMMM YYYY")}}  {{ label.time}} : {{ repair.created_at | moment("HH:mm")}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.number }} : {{ repair.id }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-center-component',
    data() {
      return {
        label: {
          name: 'ชื่อศูนย์',
          date: 'วันที่',
          time: 'เวลา',
          number: 'เลขที่'
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-4 col-sm-12'
      }
    },
  }
</script>
