<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.header }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.name }} : {{repair.citizen.title}} {{repair.citizen.fullname }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.address }} : {{ repair.citizen.address}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.number }} : {{ repair.citizen.numberFormat}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.tel }} : {{ repair.citizen.phoneFormat}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-citizen-component',
    data() {
      return {
        label: {
          header: 'ผู้รับบริการ',
          name: 'ชื่อ-สกุล',
          address: 'ที่อยู่',
          number: 'บัตรประชาชน',
          tel: 'เบอร์โทรศัพท์'
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-4 col-sm-12'
      }
    },
  }

</script>
