<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.name }} : {{ repair.item.item_type.name}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.problem }} : {{ repair.item.problem }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.description }} : {{ repair.item.description }}
            </div>
            <!-- <div class="text-xs font-weight-bold text-gray-900 mb-1">
            {{ label.type }} : {{ repair.item.type_name}}
          </div> -->
            <!-- <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.status }} : {{ repair.item.status }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.attach }} : {{ repair.item.attach}}
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-detail-component',
    data() {
      return {
        label: {
          name: 'สิ่งของที่นำมาซ่อม',
          type: 'ประเภทเครื่องใช้ที่ซ่อม',
          problem: 'อาการเสีย',
          status: 'สภาพสินค้า',
          attach: 'อุปกรณ์ที่ติดมาด้วย',
          description: 'รายละเอียด',
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-6 col-sm-12'
      }
    },
  }
</script>
