<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.header }}
            </div>
            <div class="table-responsive-sm">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{ label.name}}</th>
                    <th scope="col" class="text-right">{{ label.amount}}</th>
                    <th scope="col" class="text-right">{{ label.price}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(inventory, index) in inventories" v-if="isInventories">
                    <td>{{ inventory.part.name}} | {{ inventory.part.category }} | {{ inventory.part.department.name }}</td>
                    <td class="text-right">{{inventory.cost}}</td>
                    <td class="text-right">{{ partPrice(index) }}</td>
                  </tr>
                  <tr v-if="isInventories">
                    <td colspan="2" class="text-right">{{ label.total }}</td>
                    <td class="text-right">{{ partTotal }}</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-right">{{ label.cost }}</td>
                    <td class="text-right">{{ repair.cost }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-part-component',
    data() {
      return {
        label: {
          header: 'อะไหล่',
          name: 'รายการอะไหล่',
          amount: 'จำนวน',
          price: 'จำนวนเงิน',
          total: 'รวมเป็นเงินค่าอะไหล่',
          cost: 'ค่าแรง'
        },

        inventories: []
      }
    },

    computed: {
      partTotal() {
        let total = 0
        this.inventories.forEach(function(inventory, index) {
          total += inventory.part.price * inventory.cost
        })

        return total
      },

      isInventories() {
        if (this.inventories.length !== 0) return true
        return false
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-8 col-sm-12'
      }
    },

    mounted() {
      this.setInventories()
    },

    methods: {
      setInventories() {
        const parts = this.repair.parts
        const inventories = this.inventories
        parts.forEach(function (part) {
          if (Math.abs(part.cost) > 0)
            inventories.push({part: part.part, cost: Math.abs(part.cost)})
        })
      },

      partPrice(index) {
        let inventory = this.inventories[index]
        return inventory.part.price * inventory.cost
      },
    }
  }
</script>
