<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.picture }}
            </div>
            <div class="row">
              <div class="col-lg-2 pr-1 pb-1" v-for="photo in repair.item.photos">
                <img
                  v-bind:src="'/upload/items/' + photo.destination"
                  width="200"
                  height="200"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-review-component',
    data() {
      return {
        label: {
          picture: 'รูปภาพ'
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-12 col-sm-12'
      }
    },
  }
</script>
