<template>
  <div :class="isClass">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2" >
            <div class="h5 font-weight-bold text-primary mb-1">
              {{ label.header }}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.register }} : {{ repair.performer.register.fullname}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.assessor }} : {{ repair.performer.assessor.fullname}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.chief }} : {{ repair.performer.chief.fullname}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.sender }} : {{ repair.performer.sender.fullname}}
            </div>
            <div class="text-xs font-weight-bold text-gray-900 mb-1">
              {{ label.technician }} : {{ repair.performer.technician.fullname}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'item-performer-component',
    data() {
      return {
        label: {
          header: 'ผู้ปฏิบัติงาน',
          register: 'ผู้รับลงทะเบียน',
          assessor: 'ผู้ประเมินงานซ่อม',
          chief: 'หัวหน้าชุดซ่อม',
          sender: 'ผู้ส่งซ่อม',
          technician: 'ผู้ดำเนินการซ่อม/ตรวจเช็ค'
        }
      }
    },

    props: {
      repair: {
        type: Object,
        required: true
      },

      isClass: {
        type: String,
        default: 'form-group col-md-6 col-sm-12'
      }
    },
  }
</script>
