<template>
<div>
	<!-- Page Heading -->
	<nav aria-label="breadcrumb bg-primary">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">{{ postHeader }}</li>
		</ol>
	</nav>

	<!-- Create Search bar   -->
	<div class="row">
		<div class="col-xl-6 col-6">
			<router-link :to="{ name: urlCreate , params: {} }" class="btn btn-primary btn-icon-split">
				<span class="icon text-white-50">
					<i class="fas fa-plus"></i>
				</span>
				<span class="text">Create</span>
			</router-link>
		</div>
		<div class="col-xl-3 offset-xl-3 col-6">
			<search-component :url="apiurl" :postType="postType" @get-url="getSearch" v-model="searchData">
			</search-component>
		</div>
	</div>

	<!-- Folder Data -->
	<div class="row mt-3">
		<div v-for="post in posts" class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2" @click="linkUpdate(post.id)" data-toggle="tooltip" data-placement="right" title="Click to Update">
							<div class="h5 font-weight-bold text-primary mb-1">
								{{ post.title }}
							</div>
							<div class="text-xs mb-1 font-weight-bold text-gray-800">
								id: {{ post.id}}
							</div>
							<div class="text-xs mb-1 font-weight-bold text-gray-800">
								created_at: {{ post.created_at }}
							</div>
							<div class="text-xs mb-0 font-weight-bold text-gray-800">
								updated_at: {{ post.updated_at }}
							</div>
						</div>
						<div class="col-auto">
							<div class="dropdown">
								<button class="btn btn-danger btn-circle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-trash"></i>
								</button>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item" href="#" @click="deletePost(post.id)">Delete</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- pagination  -->
	<pagination :data="dataPaginate" @pagination-change-page="getResults" :align="align">
	</pagination>
</div>
</template>

<script>
  var moment = require('moment')
  import SearchComponent from '@Vue/directives/SearchComponent.vue';

  export default {
    name: 'post-index-component',

    props: {
      postType: {
        type: String,
        required: true
      },
      postHeader: {
        type: String,
        required: true
      },
      urlCreate: {
        type: String,
        required: true
      },
      urlUpdate: {
        type: String,
        required: true
      }
    },

    mounted() {
      this.getPosts();
    },

    data() {
      return {
        posts: {},
        dataPaginate: {},
        align: "center",
        apiurl: "/api/posts/",
        searchData: {},
      }
    },

    methods: {
      getPosts(address) {
        let url = address ? address : "/api/posts?type=" + this.postType
        this.getSearch(url)
      },

      linkUpdate(postId) {
        this.$router.push({name: this.urlUpdate, params: {postId: postId}});
      },

      getResults(page = 1) {
        let search = this.searchData.search
        let url = '/api/posts?type=' + this.postType + '&search=' + search + '&page=' + page
        this.getPosts(url)
      },

      deletePost(id) {
        axios.delete(
          "/api/posts/" + id,
          {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token')
            }
          }
        )
        .then(response => this.getResults(this.dataPaginate.links.current_page))
      },

      getSearch(url) {
        axios.get(url).then(response => {
          this.posts = response.data.data;
          this.dataPaginate = response.data;
        })
      }

    },

    components: {
      SearchComponent
    }
  }

</script>
