<template>
  <div>
    <form>
      <div class="form-group">
        <label for="title">หัวข้อ</label>
        <input type="text" ref="titleAdvertise" class="form-control" id="title" name="title" placeholder="Enter title" required />
      </div>

      <div class="form-group">
        <label for="description">เนื้อหา</label>
        <tinymce id="description" name="description" v-model="description" :other_options="tinymceOptions"></tinymce>
      </div>

      <uploadfile-component
        accept="image/jpeg, image/png"
        label="เลือกรูปภาพ จำกัดขนาดไม่เกิน 5 Mb"
        :clear.sync="isClear"
        v-model="photos"
      >
      </uploadfile-component>

      <uploadfile-component
        accept="application/msword, application/msexcel, application/pdf, .docx, xlsx"
        label="เลือกไฟล์ จำกัดขนาดไม่เกิน 5 Mb"
        :clear.sync="isClear"
        v-model="files"
      >
      </uploadfile-component>

      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="create" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Create</span>
            </a>
            <router-link :to="{ name: urlBack , params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
      </div>
    </form>

    <loading :active.sync="isLoading"  :is-full-page="fullPage"></loading>
  </div>
</template>

<script>
  import UploadfileComponent from '@Vue/directives/UploadfileComponent.vue';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  export default {
    name: 'post-create-component',
    props: {
      urlPost: {
        type: String,
        required: true
      },
      postType: {
        type: String,
        required: true
      },

      urlBack: {
        tyep: String,
        required: true
      }
    },

    data() {
      return {
        isCreatePost: false,
        isUpload: false,
        isPostId: '',
        tinymceOptions: {
          height: "300"
        },
        description: '',
        photos: [],
        files: [],
        isLoading: false,
        fullPage: true,
        isClear: false,
      }
    },

    computed: {
    },

    watch: {
      isCreatePost(newCreatePost, oldCreatePost) {
        if (!oldCreatePost && newCreatePost)
          this.upload();
      },

      isUpload(newUploadPhoto, oldUploadPhoto) {
        if (!oldUploadPhoto && newUploadPhoto) {
          this.isCreatePost = false;
          this.isUploadPhoto = false;
          this.isUploadFile = false;
          this.isLoading = false;
          this.isPostId = '';
          this.clearForm();
        }
      },
    },

    methods: {
      create() {
        this.isCreatePost = false;
        this.isUpload = false;
        this.isLoading = true;
        this.createPost();
      },

      createPost() {
        const formData = new FormData();
        formData.append("title", this.$refs.titleAdvertise.value);
        formData.append("description", this.description);
        formData.append("type", this.postType);

        axios
          .post(
            this.urlPost,
            formData,
            {
              headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('token')
              },
            }
          )
          .then(response => {
            this.flash('Create Successfully', 'success');
            this.isPostId = response.data.data.id;
            this.isCreatePost = true;
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.flash(errors[key], 'warning');

                this.isLoading = false;
              }
            }
          });
      },

      upload() {
        var filephoto = this.photos.concat(this.files);

        if (filephoto.length == 0 || this.isPostId == '') {
          this.isUpload = true;
          return;
        }

        for (var i = 0; i < filephoto.length; i++) {
          const formData = new FormData();

          formData.append("id", this.isPostId);
          formData.append("type", "Post");
          formData.append("class", "posts")

          filephoto[i].forEach(function(file) {
            formData.append("files[]", file);
          });

          axios
          .post(
            "/api/files",
            formData,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
                'Content-Type': 'multipart/form-data'
              }
            }
          )
          .then(response => {
            this.flash('Upload File Successfully', 'success');
            this.isUpload = true;
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.flash(errors[key], 'warning');

                this.isLoading = false;
              }
            }
          });
        }
      },

      clearForm() {
        this.$refs.titleAdvertise.value = "";
        this.description = "";
        this.isClear = !this.isClear
      }
    },

    components: {
      UploadfileComponent,
      Loading
    }

  }

</script>
