<template>
  <div>
    <form>
      <div class="form-group">
        <label for="title">หัวข้อ</label>
        <input type="text" ref="title" class="form-control" id="title" placeholder="Enter title" required />
      </div>

      <div class="form-group">
        <label for="description">เนื้อหา</label>
        <tinymce id="description" v-model="description" :other_options="tinymceOptions"></tinymce>
      </div>

      <uploadfile-component
        accept="image/*"
        label="เลือกรูปภาพ จำกัดขนาดไม่เกิน 5 Mb"
        :clear.sync="isClear"
        v-model="photos"
      >
      </uploadfile-component>

      <uploadfile-component
        accept="application/msword, application/msexcel, application/pdf, .docx"
        label="เลือกไฟล์ จำกัดขนาดไม่เกิน 5 Mb"
        :clear.sync="isClear"
        v-model="files"
      >
      </uploadfile-component>

      <div class="row">
        <h5>รูปภาพทั้งหมด</h5>
      </div>
      <div class="row">
        <div class="col-lg-2" v-for="photo in photosData">
          <div class="card mb-3">
            <img
              v-bind:src="'/upload/posts/' + photo.destination"
              class="card-img-top"
              width="200"
              height="200"
            />
            <div class="card-body">
              <p class="card-title">{{ photo.name }}</p>
              <button
                class="btn btn-danger btn-icon-split"
                data-toggle="tooltip"
                data-placement="right"
                title="DoubleClick to Delete"
                @click.prevent="deletePhoto(photo.id)"
                >
                <span class="icon text-white-50">
                  <i class="fas fa-trash"></i>
                </span>
                <span class="text">Delete</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h5>เอกสารทั้งหมด</h5>
      </div>
      <div class="row">
        <table class="table mt-3">
          <thead>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">download</th>
            <th scope="col">delete</th>
          </thead>
          <tbody>
            <tr v-for="file in filesData">
              <td>{{ file.id }}</td>
              <td>{{ file.name }}</td>
              <td><a v-bind:href="'/upload/posts/' + file.destination" target="_blank">Download</a></td>
              <td>
                <button class="btn btn-light btn-circle" @click.prevent="deleteFile(file.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="text-center">
            <a href="#" @click.prevent="update" class="btn btn-success btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-check"></i>
              </span>
              <span class="text">Update</span>
            </a>
            <router-link :to="{ name: urlBack, params: {} }"
              class="btn btn-secondary btn-icon-split mt-3">
              <span class="icon text-white-50">
                <i class="fas fa-undo"></i>
              </span>
              <span class="text">Cancle</span>
            </router-link>
          </div>
        </div>
      </div>
    </form>

    <loading :active.sync="isLoading"  :is-full-page="fullPage"></loading>
  </div>
</template>


<script>
  import UploadfileComponent from '@Vue/directives/UploadfileComponent.vue';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';

  export default {
    name: 'post-update-component',
    props: {
      urlPost: {
        type: String,
        required: true
      },

      postId: {
        type: Number,
        required: true
      },

      postType: {
        type: String,
        required: true
      },

      urlBack: {
        type: String,
        required: true
      }
    },

    data() {
      return {
        isUpdatePost: false,
        isUpload: false,
        tinymceOptions: {
          height: "300"
        },
        description: '',
        photos: [],
        files: [],
        isLoading: false,
        fullPage: true,
        photosData: [],
        filesData: [],
        photosDelete: [],
        filesDelete: [],
        isClear: false,
      };
    },

    mounted() {
      this.getAdvertise();
    },

    computed: {
      flatPhotos() {
        return this.photos.flat();
      },

      flatFiles() {
        return this.files.flat();
      }
    },

    watch: {
      isUpdatePost(newUpdatePost, oldUpdatePost) {
        if (!oldUpdatePost && newUpdatePost)
          this.upload();
      },

      isUpload(newUploadPhoto, oldUploadPhoto) {
        if (!oldUploadPhoto && newUploadPhoto)
        this.isUpdatePost = false;
        this.isUpload = false;
        this.isLoading = false;
        this.isClear = !this.isClear
        this.getAdvertise();
      },
    },

    methods: {
      getAdvertise() {
        axios.get(this.urlPost + this.postId).then(response => {
          this.setAdvertise(response);
        })
      },

      setAdvertise(response) {
        this.$refs.title.value = response.data.data.title;
        this.description = response.data.data.description;
        this.photosData = response.data.data.photos;
        this.filesData = response.data.data.documents;
        this.photos = [];
        this.files = [];
      },

      deletePhoto(photoId) {
        this.photosDelete.push(photoId);

        for (var i = 0; i < this.photosData.length; i++)
          if (this.photosData[i].id === photoId) this.photosData.splice(i,1);
      },

      deleteFile(fileId) {
        this.filesDelete.push(fileId);

        for (var i = 0; i < this.filesData.length; i++)
          if (this.filesData[i].id === fileId) this.filesData.splice(i,1);
      },

      update() {
        this.isUpdatePost = false;
        this.isUpload = false;
        this.isLoading = true;
        this.updatePost();
      },

      updatePost() {
        const formData = new FormData();

        let title = this.$refs.title.value;
        let description = this.description;
        let fileDelete = this.photosDelete.concat(this.filesDelete);
        let type = this.postType;

        axios
          .put(
            this.urlPost + this.postId,
            { title, description, fileDelete, type },
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token')
              }
            }
          )
          .then(response => {
            this.flash('Update Successfully', 'success');
            this.isUpdatePost = true;
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                  this.flash(errors[key], 'warning');

                this.isLoading = false;
              }
            }
          });
      },

      upload() {
        var filephoto = this.photos.concat(this.files);

        if (filephoto.length == 0) {
          this.isUpload = true;
          return;
        }

        for (var i = 0; i < filephoto.length; i++) {
          const formData = new FormData();

          formData.append("id", this.postId);
          formData.append("type", "Post");
          formData.append("class", "posts")

          filephoto[i].forEach(function(file) {
            formData.append("files[]", file);
          });

          axios
          .post(
            "/api/files",
            formData,
            {
              headers: {
                'Authorization': "Bearer " + localStorage.getItem('token'),
                'Content-Type': 'multipart/form-data'
              }
            }
          )
          .then(response => {
            this.flash('Upload File Successfully', 'success');
            this.isUpload = true;
          })
          .catch(error => {
            if (!_.isEmpty(error.response)) {
              if ((error.response.status = 422)) {
                var errors = error.response.data.errors;
                for (var key in errors)
                this.flash(errors[key], 'warning');

                this.isLoading = false;
              }
            }
          });
        }
      },
    },

    components: {
      UploadfileComponent,
      Loading
    }

  }

</script>
