<template>
  <div class="container-fluid">

    <b-breadcrumb :items="breadcrumbs" />

    <div class="row mt-3">
      <div v-for="repair in repairs" class="col-xl-3 col-md-6 mb-4">
        <div
          class="card border-left-warning shadow h-100 py-2"
        >
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div
                class="col mr-2"
                @click="linkShow(repair.item.id)"
              >
                <div class="h5 font-weight-bold text-primary mb-1">
                  {{repair.item.item_type.name}}
                </div>
                <!-- <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ประเภท: {{ repair.item.type_name}}
                </div> -->
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  ผู้รับบริการ: {{ repair.citizen.fullname}}
                </div>
                <div class="text-xs mb-1 font-weight-bold text-gray-800">
                  เบอร์โทรศัพท์: {{ repair.citizen.phoneFormat}}
                </div>
                <div class="text-xs mb-0 font-weight-bold text-gray-800">
                  วันที่รับบริการ: {{ repair.created_at}}
                </div>
                <b-collapse :id="repair.item.id.toString()">
                  <img :src="isPhoto(repair.item.photos)" width="200" height="200"/>
                </b-collapse>
              </div>
              <div class="col-auto">
                <b-button v-b-toggle="repair.item.id.toString()" variant="primary">รูปภาพ</b-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <pagination
      :data="dataPaginate"
      @pagination-change-page="getResults"
      :align="pagination.align"
      :limit="pageLimit"
      >
    </pagination>
  </div>

</template>

<script>
  export default {
    name: 'repairs-component',
    props: {
      id: {
        type: Number,
        required: true
      },

      status: {
        type: String,
        required: true
      },
    },

    mounted() {
      this.isMounted()
    },

    watch: {
      id(newVal, oldVal) {
        this.isMounted()
      }
    },

    data() {
      return {
        breadcrumbs: [],
        dataPaginate: {},
        pageLimit: 5,
        repairs: {},
        center: {},
        url: "",
        pagination: {
          align: "center"
        },

        status_text: {
          waitrepair: "ของรอซ่อม",
          waitsendback: "ของรอคืน",
          finished: "เสร็จสิ้น"
        }
      }
    },

    methods: {
      isPhoto(photos) {
        if (_.isEmpty(photos))
          return 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg'
        let photo = photos[0]
        return '/upload/items/' + photo.destination
      },

      isMounted() {
        this.breadcrumbs = []
        this.url = "/api/repairs/" + this.status + "/" + this.id
        this.getRepairs()
        this.getCenter()
      },

      getRepairs(address) {
        let url = address ? address : this.url

        axios.get(url).then(response => {
          this.repairs = response.data.data;
          this.dataPaginate = response.data;
        })
      },

      getCenter() {
        axios.get('/api/centers/' + this.id).then(response => {
          this.center = response.data.data
          this.breadcrumbs.push({
            text: 'ศูนย์ซ่อมสร้าง',
            to: {name: 'centerIndex'}
          })
          this.breadcrumbs.push({
            text: this.center.name,
            to: {name: 'centerUpdate', params: {id: this.center.id}}
          })
          this.breadcrumbs.push({
            text: this.status_text[this.status],
            active: true
          })
        })
      },

      getResults(page = 1) {
        // let search = this.$refs.search.value;
        let search_url = this.url + '?page=' + page

        this.getRepairs(search_url);
      },

      linkShow(id) {
        this.$router.push({name: 'itemShow', params: {id: id}})
      },
    }
  }
</script>
