<template>
  <!-- <div class="form-inline">
    <div class="form-group mb-2">
      <date-picker
        v-model="timerange"
        range
        :shortcuts="shortcuts"
        lang="en"
      >
      </date-picker>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search title"
      aria-label="Search"
      ref="search"
      id="search"
      @keyup.enter="getSearch"
      >
      <button class="btn btn-primary" type="button" @click="getSearch">
        <i class="fas fa-search fa-sm"></i>
      </button>
    </div>
  </div> -->
    <div class="text-left">
      <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search title"
      aria-label="Search"
      ref="search"
      id="search"
      @keyup.enter="getSearch"
      >
    </div>
</template>

<script>
  var moment = require('moment');

  export default {
    name: 'search-component',
    props: {
      url: {
        type: String,
        required: true
      },
      postType: {
        type: String,
        required: true
      }
    },
    mounted() {
      this.emitInput();
    },
    data() {
      return {
        timerange: '',
        searchValue: '',
        startDate: '',
        endDate: '',
        shortcuts: [
          {
            text: 'Today',
            onClick: () => {
              this.timerange = [ new Date(), new Date()]
            }
          }
        ],
        moment: moment,
        responseData: {},
      };
    },
    methods: {
      getSearch() {
        this.searchValue = this.$refs.search.value;
        this.startDate = this.getDateFormat(0);
        this.endDate = this.getDateFormat(1);

        let urlData = this.url + '?search=' +
          this.searchValue +
          '&startDate=' +
          this.startDate +
          '&endDate=' +
          this.endDate +
          '&type=' + this.postType;

        this.$emit('get-url', urlData);
        this.emitInput();
      },
      getDateFormat(index) {
        if (this.timerange[index])
          return moment(this.timerange[index]).format('YYYY-MM-DD');

        return "";
      },
      emitInput() {
        this.$emit('input', {
          search: this.searchValue,
          startDate: this.startDate,
          endDate: this.endDate
        });
      }

    }
  }
</script>
