<template>
  <vue-tags-input
    v-model="tag"
    :tags="tags"
    :autocomplete-items="items"
    @tags-changed="update"
    :placeholder="placeholder"
  >
  </vue-tags-input>

</template>

<script>
  import VueTagsInput from '@johmun/vue-tags-input'

  export default {
    name: 'tags-input-component',
    data() {
      return {
        tag: '',
        tags: [],
        tagValues: []
      }
    },

    props: {
      placeholder: {
        type: String,
        default: ""
      },

      url: {
        type: String,
        required: true
      },

      autocompleteItems: {
        type: Array,
        required: true
      },

      clear: {
        type: Boolean,
        required: true
      },

      initTags: {
        type: Array,
        default: () => []
      }
    },

    watch: {
      clear(newVal, oldVal) {
        this.tags = []
        this.tagValues = []
      },

      autocompleteItems(newVal, oldVal) {
        this.autocompleteItems = newVal
      }
    },

    computed: {
      items() {
        return this.autocompleteItems.filter(i => {
          return i.text.indexOf(this.tag) !== -1
        })
      }
    },

    methods: {
      update(newTags) {
        this.tags = newTags
        this.tagValues = this.tags.map(a => {
          return a.text
        })
        this.$emit('input', this.tagValues)
      }
    },

    created() {
      this.tags = this.initTags
    },

    components: {
      VueTagsInput
    }
  }

</script>
