<template>
  <div>
    <div class="custom-file mb-3">
      <input
      type="file"
      ref="uploadfilecomponent"
      :name="Name"
      class="custom-file-input"
      id="uploadfilecomponent"
      multiple
      @change="filesToArray"
      :accept="accept"
      />
      <label class="custom-file-label">{{ label }}</label>
    </div>

    <div class="row">
      <h5>ไฟล์ที่อัพโหลด</h5>
    </div>
    <div class="row">
      <div class="col-lg-2" v-for="(file, index) in isUploadFile">
        <div class="card mb-3" v-bind:class="{'bg-danger text-white': file.limit}">
          <img
            :src="previewImages[index]"
            class="card-img-top"
            width="200"
            height="200"
          />
          <div class="card-body">
            <p class="card-title">{{ file.uploadfile.name }}</p>
            <p v-if="file.limit">ไม่สามารถอัพโหลดได้</p>
            <button
              class="btn btn-danger btn-icon-split"
              @click.prevent="removeItem(file.index)"
              >
              <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
              </span>
              <span class="text">Remove</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <ul class="list-group">
      <div v-for = "(file, index) in isUploadFile">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
          v-bind:class="{'list-group-item-danger': file.limit}"
        >
          {{ file.uploadfile.name }} <p v-show="file.limit">- ไม่สามารถอัพโหลดได้</p>
          <img :src="previewImages[index]" width="200" height="200" />
          <button type="button" class="btn btn-danger" @click="removeItem(file.index)">
            Remove
          </button>
        </li>
      </div>
    </ul> -->

  </div>
</template>

<script>
  export default {
    name: 'uploadfile-component',
    props: {
      accept: {
        type: String,
        required: true
      },
      label: {
        type: String,
        required: true
      },
      clear: {
        type: Boolean,
        required: true
      },
      Name: {
        type: String,
        default: 'uploadfilecomponent'
      }
    },

    watch: {
      clear(newVal, oldVal) {
        this.uploadfile = []
        this.UploadToParent()
      }
    },

    computed: {
      isUploadFile() {
        let files = []
        let limit

        if (this.uploadfile.length <= 0) return files;

        const filesize = this.filesize

        this.uploadfile.forEach(function(item, index) {
          limit = (item.size > filesize) ? true : false
          files.push({uploadfile: item, limit: limit, index: index})
        })

        return files
      }
    },

    mounted() {
      this.uploadfile = [];
    },

    data() {
      return {
        uploadfile: [],
        uploadfileParent: [],
        isLimit: false,
        previewImages: [],
        filesize: 10485760,
      }
    },

    methods: {
      filesToArray(e) {
        for (var i = 0; i < this.$refs.uploadfilecomponent.files.length; i++) {
          this.uploadfile.push(this.$refs.uploadfilecomponent.files[i]);
          this.createImage(this.$refs.uploadfilecomponent.files[i])
        }

        this.UploadToParent()
      },

      createImage(file) {
        let reader = new FileReader()
        let formData = new FormData()

        formData.append('file', file)

        if (this.isImage(file)) {
          reader.onload = (e) => {
            let dataURI = e.target.result
            this.previewImages.push(dataURI)
          }

          reader.readAsDataURL(file)
        } else {
          this.previewImages.push('http://www.newdesignfile.com/postpic/2013/10/text-file-icon_248369.png')
        }

      },

      isImage(file) {
        return file['type'].split('/')[0] === 'image'
      },

      removeItem(index) {
        this.uploadfile.splice(index, 1)
        this.previewImages.splice(index, 1)
        this.UploadToParent()
      },

      UploadToParent() {
        this.uploadfileParent = this.uploadfile.filter(x => x.size < this.filesize)
        this.arrayGroup()
        this.$emit('input', this.uploadfileParent)
      },

      arrayGroup(max = 10) {
        var divided = Math.floor(this.uploadfileParent.length / max);
        var modulo = this.uploadfileParent.length % max;
        var photos = [];
        var start;
        var end;

        for(var i = 1; i <= divided; i++)
        {
          end = max * i;
          start = end - max;
          photos.push(this.uploadfileParent.slice(start, end));
        }

        if (modulo !== 0) {
          end = this.uploadfileParent.length;
          start = end - modulo;

          photos.push(this.uploadfileParent.slice(start, end));
        }

        this.uploadfileParent = photos;
      }
    }
  }

</script>
